[2020-02-04 15:02] abhisingh007224 commented on #98
But in Mac it is still showing error

[2020-02-04 19:43] haifeng-jin commented on #98
hi @albert-92 @abhisingh007224 , I really cannot reproduce this error. Maybe it is related to the conda environment?

Would you please run the following script with the same python interpreter and paste the output here?
Thank you for your help!

[code]

[2020-02-04 19:47] haifeng-jin commented on #929
@zhulingchen Yes, but you need to use the AutoModel API, with the ImageBlock(augment=False, normalize=False).
You can just work on 1.0.1 with this trick.

https://autokeras.com/block/#imageblock-class

https://autokeras.com/tutorial/image_classification/#customized-search-space

[2020-02-04 19:54] haifeng-jin commented on #929
@zhulingchen BTW, if you would like to receive all the info about AutoKeras, you can join our Slack.
https://autokeras.com/#community

[2020-02-05 16:45] kevinkit opened #942 "ImportError: cannot import name 'preprocessing' from 'tensorflow.keras.layers.experimental'"
I tried to run Auotokeras and was hit with the error message upon import autokeras:

`
ImportError: cannot import name 'preprocessing' from 'tensorflow.keras.layers.experimental'`

I think this is due to some version mismatch, - so I suggest that the documentation should include the needed tensorlfow / keras versions.

I am currently on:

Keras: 2.2.4
Tensorflow: 1.15.0
OS: Windows 10

Thank you f

[2020-02-05 17:08] jcrodriguez1989 commented on #942
Hi @kevinkit , the minimum tensorflow requirement is 2.1.0 .
It would be great if this requirement could be documented.

[2020-02-05 17:19] kevinkit commented on #942
Thank you very much for that information and fast reply - is there a version requirement for Keras, too?

[2020-02-05 19:02] haifeng-jin commented on #942
@jcrodriguez1989 Yeah, I will add it to the documentation later today. Thx

@kevinkit We are actually using the tf.keras (Keras inside TensorFlow package) instead of the standalone Keras.
So you don't need to worry about the installation of Keras as long as you installed the correct version of TensorFlow. Thx

[2020-02-05 22:00] dzimmerman-nci opened #944 "Low eval accuracy for TextClassifier (Might because of cannot save text_vectorization)"
I have run the Text Classification example here: https://autokeras.com/tutorial/text_classification/

My validation accuracy gets to the high 90s, but when I run inference on the test set, it is close to 50%. There's nothing inherently wrong with that if that's the expected output. However, it looks as though it is just using the last model trained and not the best model based on the printed resul

[2020-02-06 20:11] haifeng-jin commented on #944
@dzimmerman-nci It seems caused by the text vectorization. It does not support saving.
https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/keras/layers/preprocessing/text_vectorization.py#L290
I believe this will be fixed by the next release of Tensorflow.
For the a walk around would be export the model and adapt the layer yourself.
[code]
Then the `keras_model` can be used as n

[2020-02-07 21:20] seanreynoldscs opened #945 "ImageClassifier no longer has final_fit (AttributeError: 'ImageClassifier' object has no attribute 'final_fit')"
### Bug Description
---------------------------------------------------------------------------
AttributeError: 'ImageClassifier' object has no attribute 'final_fit'
---------------------------------------------------------------------------

I see examples such as:
clf = ImageClassifier(verbose=True)
clf.fit(x_train, y_train, time_limit=12 * 60 * 60)
clf.final_fit(x_train, y_train, x_test, y_test

[2020-02-07 21:22] seanreynoldscs commented on #945
Is there a more stable version I should be using? I'm very new to this, I've only been using Sage Maker and Google Cloud AutoML.

[2020-02-07 21:28] rakshanda22 opened #946 "Text Classification Validation Accuracy does not change"
In the following text classification example [https://autokeras.com/examples/imdb/](url) the validation accuracy remains the same across all epochs and trials. The validation accuracy is 50.62% and seems like random classification accuracy. What could be the possible issue?

[2020-02-08 03:19] Mosely commented on #945
Hi, it's my understanding that final_fit() has been removed and its functionality is now included in fit().  I think you can remove that final_fit() line and it should be okay.

[2020-02-08 07:27] seanreynoldscs commented on #945
During training I see the results include a couple trials with very good results such as:
10/10 [==============================] - ETA: 0s - loss: 0.0979 - accuracy: 0.96 - 0s 6ms/step - loss: 0.0501 - accuracy: 0.9869 - val_loss: 0.0636 - val_accuracy: 0.9868

However the last evaluated result is: Epoch 449/1000
13/13 [==============================] - ETA: 0s - loss: 0.6730 - accuracy: 0.62 - ET

[2020-02-08 07:48] seanreynoldscs commented on #945
Also when I try to use this model by calling:
keras_model = clf.export_model()
and
keras_model.save(modelLocation)

When I try to import this model using:
exposureModel = load_model(exposureModelPath)

I get this error:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-5-c1d97e7cc4a

[2020-02-08 10:24] seanreynoldscs commented on #945
Okay this worked for keeping the model trained:
input_node = ak.ImageInput()
output_node = ak.ClassificationHead()
clf = ak.AutoModel(inputs=input_node, outputs=output_node, max_trials=10)

I'm still having trouble loading the model with keras, now I'm getting:
ValueError: Unknown layer: Sigmoid

I noticed that the last two layers of my trained network are:
dense (Dense)                (None, 1)

[2020-02-08 14:39] #828 closed

[2020-02-08 14:53] haifeng-jin commented on #945
@seanreyboldscs
You will need the following line.
[code]
Thanks.

Anyone would like to update it in the documentation to include the load model tutorial in
/docs/templates/tutorial/export.md

?

[2020-02-08 15:13] haifeng-jin commented on #946
@rakshanda22

We will look into it. Thank you for the report.

[2020-02-08 17:38] seanreynoldscs commented on #945
Thank you so much, that worked.
So in summary to get everything working for me we did the following:

[code]
to export:
[code]

and when loading:
`exposureModel = load_model(exposureModelPath, custom_objects=ak. CUSTOM_OBJECTS)
`

[2020-02-08 17:38] #945 closed

[2020-02-08 21:46] gabrieldemarmiesse commented on #918
We're going to have a nice TODO list with #1051 . Then we'll be able to track easily what's left and we'll avoid regressions with it.

[2020-02-08 22:29] #931 closed

[2020-02-08 22:31] haifeng-jin commented on #878
This one is resolved for the latest version.
Please refer to the tutorial about export model for details.

https://autokeras.com/tutorial/export/

[2020-02-08 22:31] #878 closed

[2020-02-09 15:54] johny-b commented on #946
I noticed the same.

Also:
* all is well on autokeras 1.0.0, bug is only on 1.0.1
* works just as bad on other text datasets

I'm using Ubuntu 18.04 and tensorflow 2.1.0

[2020-02-09 21:18] gabrieldemarmiesse opened #949 "Finish the TODO list of classes/functions to type."
We have a [big todo list of classes/functions to type](https://github.com/keras-team/autokeras/blob/dda2d9de0c602a1f47b45bb26783eacfd9572815/tests/autokeras/typed_api_test.py#L11) (add type hints, see [PEP484](https://www.python.org/dev/peps/pep-0484/) for more infos about type hints) and the docs: https://docs.python.org/3/library/typing.html

Functions of the list should be typed and for classes

[2020-02-09 21:21] gabrieldemarmiesse opened #950 "Do a pre-commit running with docker like in tensorflow addons."
I'll take care of it.

[2020-02-10 04:26] fucker007 opened #954 "文本分类clf.export_model()出现一下报错，autokeras1.0.1,tensorflow-gpu 2.1.0,请问是怎么回事"
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. Either the Trackable object references in the Python program have changed in an incompatible way, or the checkpoint was generated in an incompatible program.

Two checkpoint references resolved to different objects (<tensorflow.python.keras.layers.core.Dense object at 0x000001A755E62DA0> and <tensorflow.

[2020-02-10 04:28] fucker007 commented on #954
@kthakore

[2020-02-10 04:33] fucker007 commented on #929
1

#第三步保存查看模型层次

2

clf.export_model()

WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. Either the Trackable object references in the Python program have changed in an incompatible way, or the checkpoint was generated in an incompatible program.

Two checkpoint references resolved to different objects (<tensorflow.python.keras.layers.core.Dense object

[2020-02-10 14:59] dzimmerman-nci commented on #944
Thanks for the help @haifeng-jin. To clarify, do I need to retrain the Keras model after running the Auto-Keras fit? Or do I only need to adapt the test data X values to the exported Keras model to run inference?

[2020-02-10 17:12] haifeng-jin commented on #954
@fucker007 Would you paste your code for reproducing this bug? Thanks.

[2020-02-10 17:15] haifeng-jin commented on #944
@dzimmerman-nci  No retraining is needed. You only need to adapt the preprocessing layer, i.e., text_vectorization with the training data. The `adapt` function is the `fit` function for preprocessing layers. They currently cannot be fit with the model's fit function, but need to be adapt separate.

example here:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/

[2020-02-10 17:19] haifeng-jin commented on #946
@johny-b If so, it must be the text vectorization layer.
We didn't use it in 1.0.0 and use it in 1.0.1.

It's weights cannot be saved for now.
When the tuner loads it for eval and predict, it doesn't work.

https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/keras/layers/preprocessing/text_vectorization.py#L290

Hopefully, it can be saved with TF 2.2.
I will confirm with the ten

[2020-02-10 17:21] rakshanda22 commented on #946
So is there a way to drop down to autokeras 1.0.0?

[2020-02-10 17:24] haifeng-jin commented on #946
@rakshanda22 Yes.
[code]

[2020-02-10 19:06] dzimmerman-nci commented on #944
So AutoKeras also does this when searching for the best model architecture? That layer is just not saved properly after the AutoKeras fit method?

[2020-02-11 03:07] fucker007 commented on #954
#!/usr/bin/env python
# coding: utf-8

# In[1]:

import autokeras as ak
from autokeras import TextClassifier
import csv
import numpy as np
import pandas as pd
import matplotlib
import os
clf = TextClassifier()#获取分类器
data_path = "../data2/" #数据存储的路径
data = pd.DataFrame() #数据存储的位置

# In[2]:

# #第一步读取数据

# for file in os.listdir(data_path):
#     csvFile = open(data_path+file,"r",encoding='utf-8')
#

[2020-02-11 03:08] fucker007 commented on #954
`#!/usr/bin/env python
# coding: utf-8

# In[1]:

import autokeras as ak
from autokeras import TextClassifier
import csv
import numpy as np
import pandas as pd
import matplotlib
import os
clf = TextClassifier()#获取分类器
data_path = "../data2/" #数据存储的路径
data = pd.DataFrame() #数据存储的位置

# In[2]:

# #第一步读取数据

# for file in os.listdir(data_path):
#     csvFile = open(data_path+file,"r",encoding='utf-8')
#

[2020-02-11 03:11] fucker007 commented on #954
#!/usr/bin/env python
# coding: utf-8
import autokeras as ak
from autokeras import TextClassifier
import csv
import numpy as np
import pandas as pd
import matplotlib
import os
clf = TextClassifier()#获取分类器
data_path = "../data2/" #数据存储的路径
data = pd.DataFrame() #数据存储的位置
csvFile = open("data2/total.csv","r",encoding='utf-8')
df_ = pd.read_csv(csvFile)
data = data.append(df_)
y_train = data["ItemName"

[2020-02-11 11:57] PavelKovalets commented on #839
Same issue here, with some custom code, is there any way to fix it?

[2020-02-11 16:38] le-dawg commented on #661
+10. Can't believe that there aren't any people interested in this application to time series!

[2020-02-11 19:36] dzimmerman-nci commented on #944
@haifeng-jin it seems the only way to get it to work is if I retrain the exported Keras model after adapting the TextVectorization layer like this:

[code]

[2020-02-11 21:51] rakshanda22 opened #956 "Error while training my own classification data on Automodel"
I get the following error when trying to train my model. The training barely runs for 1/10th of an epoch and I get this early stopping warning.

The possible reason seems some embedding problem as mentioned in the end of the error.  Is there a fixed vocabulary that's used to built the embedding matrix?

My x_train is an np array of string of shape (392702, ) and y_train a list of (392702,1) with v

[2020-02-11 23:28] #946 closed

[2020-02-12 02:36] haifeng-jin commented on #954
@fucker007
This is not the right data for text input. Currently, we are only supporting natural language like inputs to TextInput.
The separate character between words should be spaces.
Otherwise, it might not work.

[2020-02-12 02:39] haifeng-jin commented on #944
@dzimmerman-nci Thank you for the work solution! Hope tf would release this "fit to adapt" feature soon.

[2020-02-12 05:43] ikscapes opened #958 "Customized Model example is not running"
### Bug Description

Customized Model example (Implement New Block) is not working.

### Reproducing Steps
Steps to reproduce the behavior:
  * Step 1: Change error line -> solved
import autokeras as ak
import tensorflow as tf

class SingleDenseLayerBlock(ak.Block):

    def build(self, hp, inputs=None):
        # Get the input_node from inputs.
        input_node = tf.python.util.nest.flatten(inp

[2020-02-12 05:44] maxmarketit opened #959 "StructuredDataRegressor malfunctioning"
Thank you for the great package. I firmly believe autokeras can free many data scientists of

  training models endlessly. But,

  I tried several examples,

  StructuredDataRegressor trains fine, but can't evaluate, predict, nor save the model.

  evaluate and predict takes so long... (StructuredDataClassifier worked okay for evaluate, at least)

  I wonder if there is any way I can use predict,

[2020-02-12 11:52] ikscapes commented on #958
I reinstalled tensorflow and autokeras and ran it again.

Another error occurred while executing the code.

The full error log is shown below.
2020-02-12 20:43:47.329690: W tensorflow/core/framework/op_kernel.cc:1655] OP_REQUIRES failed at save_restore_v2_ops.cc:220 : Unknown: Failed to rename: .\auto_model\trial_d052e73d00eb40d2f1a00d4a472a874c\checkpoints\epoch_0\checkpoint_temp_43c9929389a54f28

[2020-02-12 16:21] seanreynoldscs opened #961 "AutoKeras with tensorflow.dataset gives TypeError: 'PrefetchDataset' object does not support indexing"
### Bug Description
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-18-e8d1a7f824a0> in <module>
      1 # Feed the image classifier with training data.
----> 2 clf.fit(train_ds[0], train_ds[1])

TypeError: 'PrefetchDataset' object does not support indexing

### Reproducing Steps

[2020-02-13 04:07] PhilippeCodes opened #964 "Autokeras not able to load best model"
### Bug Description

I was spending the whole day trying to play around with autokeras for an image classification problem. I installed the newest version and updated tensorflow to 2.1.0. I never got it to work with my (Kaggle leaf) dataset so I figgured that I would just try it with the example code from the autokeras website:

[code]

The whole thing seems to do just fine during training of diff

[2020-02-13 04:12] haifeng-jin commented on #959
@maxmarketit Would you please paste your code to reproduce the error? Thanks

[2020-02-13 05:34] haifeng-jin commented on #961
@seanreynoldscs  I did not find the tutorial on wrapping ImageNet into tf.data.Dataset. I believe there is a way to do so and without loading it into memory. AutoKeras currently is not supporting tensors as training data.

[2020-02-13 05:44] #940 closed

[2020-02-13 07:31] maxmarketit commented on #959
I have been trying this in colab...

    %tensorflow_version 2.x
    import autokeras as ak

    from keras.datasets import boston_housing
    (x_train, y_train), (x_test, y_test) = boston_housing.load_data()

    reg = ak.StructuredDataRegressor(max_trials=3, directory='./boston', seed=10)
    reg.fit(x_train, y_train, epochs=10)

    model = reg.export_model()
    model.predict(x_test)

model.pr

[2020-02-13 12:34] picsag opened #966 "Not able to load best AutoModel after saving"
Hi everyone!

I am using autokeras functional API on Cifar10 dataset and it ran succesfully saving the best model checkpoint in a model.index file. I am unable to load the model from the checkpoint as it did not save a .h5 file.

I would need some basic code for loading saved models by autokeras. The documentation does not contain such loading code: https://autokeras.com/tutorial/export/
The autom

[2020-02-13 13:34] gabrieldemarmiesse commented on #950
This has been implemented. See the CONTRIBUTING.md

[2020-02-13 13:34] #950 closed

[2020-02-13 14:38] picsag commented on #966
I managed to find a compromise by looking into auto_model.py and observing that the AutoModel.export_model() returns a Keras model.
However if an intermediate trial is needed, is still not clear how to load the corresponding model from the saved files (.index and checkpoint).

[2020-02-14 20:59] haifeng-jin commented on #959
@maxmarketit This might because of a big issue. I will try it. Thanks.

[2020-02-14 21:08] haifeng-jin commented on #966
@picsag Currently, we are not providing this interface. However, I assume you are an advanced user who can dive into the source code. You can do a hacking solution like this:
[code]
The trial_id can be found somewhere in the saving directory. (The name of the json file).

[2020-02-15 02:38] showkeyjar opened #970 "loaded_model can not work correctly"
### Bug Description

I use export and save function in document,
but when I use load_model, then error:

### Reproducing Steps
Steps to reproduce the behavior:

  * Step 1:
`
model = clf.export_model()
`
`
model.save('model/keras_model.h5')
`

  * Step 2:
`
from tensorflow.python.keras.models import load_model
`
`
model = load_model('model/keras_model.h5')
`
**error:**  no class define Normalizati

[2020-02-15 10:48] picsag commented on #966
Hi

Thank you for your reply. I loaded the json from the trial.json file from the trial id folder,
path = '...path_to_trial_id...'
json_file = open(path, 'r')
loaded_model_json = json_file.read()
json_file.close()

However, I am not able to call
loaded_model=model_from_json(loaded_model)

![image](https://user-images.githubusercontent.com/39946849/74586486-76acc180-4ff0-11ea-9da4-3130df99134a.png)

[2020-02-15 10:54] picsag opened #971 "How can the user provide custom ranges for ConvBlock kernel_size"
Hi

I tried to use ConvBlock by giving it a list of custom kernel sizes, using the parameter kernel_size=[7, 9, 13] for example. It throws an error.
I observed that inside the ConvBlock class, the hp.Choice('kernel_size', [x, y, z], default=x) is used.
How can the user provide custom kernel sizes from his code when adding a convolutional layer? Please provide sample code for this, thanks!

[2020-02-15 12:26] picsag commented on #971
I tried to find a way to perform this custom kernel sizes by replacing the code inside basic.py from line 195 with the following:
        if isinstance(self.kernel_size, int):
            kernel_size = self.kernel_size
        elif self.kernel_size is None:
            kernel_size = hp.Choice('kernel_size',
                                    [3, 5, 7],
                                    default=

[2020-02-15 20:05] robbedec commented on #970
I'm experiencing the same problemen.

[2020-02-16 02:53] haifeng-jin commented on #971
Currently, fork and modify the codebase would be the only solution. We may support customized hyper parameter as arguments later. Now user can only pass fixed values.

[2020-02-16 03:01] haifeng-jin commented on #966
We will see if more people are looking to use this, we will add this in the FAQ section on the website.

[2020-02-16 03:04] haifeng-jin commented on #970
Normalization is not a custom object. It's a Keras layer. You don't need to add it to the custom object as long as you use tf2.1 or later.

[2020-02-16 03:36] showkeyjar commented on #970
I

I try to use keras kayer, and only found keras.layers.BatchNormalization, when I use this class, then system raise error: expect 3 parameters but 4 were given.

[2020-02-16 03:38] haifeng-jin commented on #970
https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/Normalization
This is the layer I was talking about.

[2020-02-16 04:01] showkeyjar commented on #970
ok, it works, I'll close this issue now.

[2020-02-16 04:01] #970 closed

[2020-02-16 14:53] exiarepairii opened #973 "StructuredDataClassifier's exported model can't predict or evaluate"
### Bug Description
I use autokeras to train a classifier, I can predict or evaluate with the <autokeras.tasks.structured_data.StructuredDataClassifier>. But **the model exported by the export_model function can't predict or evaluate.**
When I try `model.evaluate(x_valid,y_valid)`it raise the error below,
and `model.evaluate(x_valid,y_valid)` raise the same error. **No matter which dataset I use,

[2020-02-17 14:09] #813 closed

[2020-02-17 14:09] #843 closed

[2020-02-17 18:10] zhulingchen opened #975 "Resume model.fit process after interrupted"
### Feature Description
model.fit usually takes a long time to find the optimal network architecture; if something happened (like server reboot, for instance, or other possible issues), how could model.fit resume its process?

Is it possible to resume from the auto_model directory or are the AutoKeras developers working on that? I did not find the relative APIs for this.

[2020-02-18 03:35] Neronjust2017 opened #981 "can not find the implementation code for the network morphism algorithm"
Hi,
 I have  read the AUTO-KERAS: EFFICIENT NEURAL ARCHITECTURE SEARCH WITH NETWORK MORPHISM paper, in which said, " In this paper, an efficient neural architecture search with network morphism is proposed, which utilizes Bayesian optimization to guide through the search space by selecting the most promising operations each time ." However, I can not find the implementation code for the network mo

[2020-02-18 03:38] haifeng-jin commented on #981
Please check the 0.4 version fort the implementation. Thanks

[2020-02-18 03:40] haifeng-jin commented on #975
It is in our FAQ in the tutorial, but I haven't error the answer. You can use the overwrite argument of AutoModel. Just run the code again providing the same directory, it will resume.

[2020-02-18 11:24] johny-b opened #982 "TextClassifier with tensorflow.data.Dataset"
### Bug Description

I'm trying to use `TextClassifier` together with `tf.data.Dataset`.
I use the example from https://autokeras.com/tutorial/text_classification/#data-format and it fails both on `autokeras=1.0.0` and `autokeras=1.0.1` (with different error messages).

### Reproducing Steps
Code that I hope exactly matches intentions of the tutorial:
[code]

On `1.0.1` this ends in:
[code]
and on

[2020-02-18 13:55] junyongyou opened #984 "Support python generators"
I have a simple task to find the best CNN architecture for image regression. However, I have a large dataset, which cannot be loaded into memory at one time. It seems in the current release ImageRegressor only supports fit method requiring all the data (x and y) loaded in memory. How can I use generator in Autokeras? I have checked a closed issue #204, but it seems it was not solved.

I have alrea

[2020-02-18 23:17] jbrownlee commented on #973
I get the same fault with models fit via StructuredDataRegressor and StructuredDataClassifier

[2020-02-19 04:03] Neronjust2017 commented on #981
Hi, it seems, In the current version, you are using RandomSearch, Hyperband, BayesianOptimization( from kerastuner ) and Greedy as the algorithms. I have a few questions: Why is "network morphism" is no longer available? Compared to the other algorithms, What are the advantages of "Greedy " ?  Is there an article about the"Greedy " algorithm? Thanks.

[2020-02-19 05:09] saikchaitanya opened #989 "Getting an AttributeError for input_node = ak.Input()"
### Bug Description

### Reproducing Steps
Steps to reproduce the behavior:
  * Step 1: ... import autokeras as ak
  * Step 2: ... input_nodes = ak.Input()

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python: 3.6
 - autokeras:
 - scikit-learn:
 - numpy:
 - keras:
 - scipy:
 - tensorflow: 2.1.0
 - pytorch:

### Additional context

[2020-02-19 14:41] zhulingchen commented on #975
Thanks! Is it a feature of 1.0.0 or 1.0.1?

[2020-02-19 16:58] haifeng-jin commented on #982
Thank you for the report.
I am working on this recently.
Will have a new release soon.

[2020-02-19 17:02] haifeng-jin commented on #984
Currently, we have not tested with generators yet.
I will look into this.
It seems it detected the dataset as less than 2 instances inside.
I assume it has more.

You may try providing the validation_data yourself.
It won't have this issue but may have some other errors.

[2020-02-19 17:04] haifeng-jin commented on #981
This is mainly because we updated the framework and didn't have enough people to implement the network morphism for the new framework.
We don't have an article for the greedy yet.

[2020-02-19 17:06] haifeng-jin commented on #989
Would you also provide the error message and your autokeras version?

Thanks

[2020-02-19 17:15] haifeng-jin commented on #975
@zhulingchen The resume feature is supported in 1.0.0. We haven't thoroughly tested it yet.
Unfortunately, AutoKeras 1.0.1 and future versions will only support Tensorflow 2.2 and above.
So it doesn't fully function will the preprocessing layers in TF 2.1.

[2020-02-19 17:29] zhulingchen commented on #975
But TF 2.2 has not released yet, right?

[2020-02-19 17:34] haifeng-jin commented on #975
@zhulingchen It is not released. We coordinated with TF team to know what features will be there. This would save us the efforts to implement those features by ourselves.

[2020-02-19 17:48] saikchaitanya commented on #989
error message - AttributeError: module 'autokeras' has no attribute 'Input'

Autokeras version = 1.0.1

[2020-02-19 23:27] johny-b commented on #982
@haifeng-jin will the new release also have a fix for the bug described here: https://github.com/keras-team/autokeras/issues/946 ? Because if not than TextClassifier will still work only on 1.0.0.

[2020-02-20 07:51] ericchen1207 opened #992 "How do I reduce the output model size?(AutoKeras1.0.0)"
As I used version 0.3.7 autokeras, the output model size was about 1M, but when I upgraded autokeras to version 1.0.0, the output model size became 3XXM, I don't know what's going on ~

[2020-02-21 07:48] adriangb commented on #973
Same issue:
[code]

Could this be related to #929? It seems to me like one of the pre-processors isn't being exported correctly. @haifeng-jin [mentioned](https://github.com/keras-team/autokeras/issues/929#issuecomment-580978284) that a "new" version, I'm not sure which version he was referring to, I tried pulling from the master and no different.

[2020-02-21 09:50] gabrieldemarmiesse opened #994 "Upload the docs automatically at each release with github actions and add tests for them in the CI"
### Feature Description

See the title

### Reason

* This would allow contributors to make pull requests to change how to generate the docs.
* Currently the docs online are referring to the last commit in the master branch. The docs should explain how to use the latest version on PyPI.

### Solution

* The docs should be pushed at each release. See https://github.com/keras-team/autokeras/blob/mas

[2020-02-21 16:50] haifeng-jin commented on #989
We really cannot reproduce this error. Which OS are you running it on? Thanks.
It is highly likely you installed new version of autokeras for one interpreter, and used another interpreter to run your program which has the older version of autokeras

[2020-02-21 16:52] haifeng-jin commented on #992
It is mainly because of the search space. Now we are able to search larger but better models. There is no way to decrease the model size in AutoKeras. There may be other libraries has this feature, that you give it a large model, it gives you a smaller one. I am not sure.

Thanks.

[2020-02-21 16:58] haifeng-jin commented on #994
That is a good point!

We can use git workflow for docs, to enable the hotfixes to the docs for the released version.
We don't need to release the bleeding edge docs, if the user really would like to read, they can generate the docs locally.
So the website should be updated automatically with each release and manually when there is a hotfix to the docs.

Thanks.

[2020-02-21 17:00] haifeng-jin commented on #982
Yes, according to my test, it is fixed.
If it is not, then I can fix it again and release it again.

[2020-02-21 19:45] haifeng-jin commented on #914
Follow the API of TimeSeriesForecaster.
https://github.com/keras-team/autokeras/tree/master/autokeras/tasks

[2020-02-21 20:02] haifeng-jin commented on #944
If you use the latest tf-nightly, there won't be this problem anymore.

[2020-02-21 20:02] #944 closed

[2020-02-21 20:04] haifeng-jin commented on #929
If you use autokeras==1.0.2 and the latest tf-nightly, this issue should be fixed.

[2020-02-21 20:04] #929 closed

[2020-02-21 22:53] picsag opened #997 "Training stops after several trials"
Hello

I have experienced early termination of the number of trials, for example the training stopped at trial nr. 3, while I gave as parameter "max_trials=190"
How can this be prevented?

[2020-02-22 01:51] haifeng-jin commented on #973
We had a new release, autokeras 1.0.2. If you use it with the latest tf-nightly. This issue should be resolved.

[2020-02-22 01:52] haifeng-jin commented on #997
Would you please paste your code? I will try to see if I can reproduce the bug.
Thanks.

[2020-02-22 02:40] adriangb commented on #973
The above code snippet is still broken for me.
Package versions:
[code]
Output/error:
[code]
Let me know if I am doing something wrong.

[2020-02-22 09:27] Unemyr opened #998 "Always exports the last trial rather than the best performing model"
### Bug Description
API export_model() always seem to export the most recent trial model rather than the best performing model.

### Reproducing Steps
Steps to reproduce the behavior:
  * Step 1: Define a test run and determine a number X of max_trials (using trial and error) where the last run do not give you the best performing result
  * Step 2: Export the model using export_model()
  * Step 3:

[2020-02-22 20:05] Kelvin-76 opened #999 "Cannot load HDF5 model after export"
I tried the example of Titanic Survival Prediction from your document and export the model with the following code ,although the model is exported I got numpy error.

[code]
`
Traceback (most recent call last):
  File "titanic.py", line 17, in <module>
    model.save('titanic.h5')
  File "C:\Users\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\python\keras\engine\network.

[2020-02-23 02:53] Neronjust2017 opened #1000 "Different default values of learning rate lead to different results"
Hi,
 When I first ran my experiment with autokeras (v1.0.0) , in the fuction **compile_keras_model** in the file **autokeras/hypermodel/graph.py**, I set the default value of learning rate to **0.01**, as you can see from the code below:

[code]

As a result, I got the 10 best trials,  they all have a learning rate of **0.01**, and a optimizer of **adam**. Importantly, they all have a relatively h

[2020-02-23 06:24] haifeng-jin commented on #973
We are trying to convert all the tutorials to colab. Making sure all the functions have a working example.

[2020-02-23 06:26] haifeng-jin commented on #998
It looks like it is returning the last. Actually it is returning the best after fully training at the end of the search.

[2020-02-23 06:28] adriangb commented on #973
I am not sure I understand what this means in relation to this issue. Would you like the above example/bug to be posted on colab for testing? It's still not clear to me if I am doing something wrong or if this is a bug.

[2020-02-23 06:33] haifeng-jin commented on #1000
10 trials is still too few for the tuner to explore the search space. That is why the learning rate didn't change during search. Greedy is tend to explore around the tried hyper parameters. We believe that would be a good strategy for hyper parameter tuning.

We are still in a stage of make autokeras 1.0 robust. Haven't fine tune the tuning algorithms yet.

[2020-02-23 06:34] exiarepairii commented on #973
I have upgraded the autokeras, but have the still have the same problem.

[2020-02-23 06:41] haifeng-jin commented on #973
I mean this may still be a bug. We will test it out during we write the colab notebooks. And fix it.

I guess the bug may be related to the custom preprocessing layer we implemented for coverting the numerical features to categorical ones. That custom layer will be removed. We will use the official layers provided in tf2.2 to do the trick, which are not released yet.

[2020-02-23 06:46] exiarepairii commented on #973
thanks for your efforts, I look forward to the progress of autokeras

[2020-02-23 06:47] adriangb commented on #973
Awesome sounds great! It'll be amazing once that is implemented. Thank you very much.

[2020-02-23 06:50] Unemyr commented on #998
Hi Haifeng, just to clarify the X number of trials (20 in this case) does finish before doing the final fit. But it cannot be the case that the last trial that gives only NaN is the best performing model when the previous models (although not with great accuracy values) gives better results? Or am I somehow missing something, or using the APIs in the wrong way? Appreciate any suggestions, thank yo

[2020-02-23 17:58] MasoudBNJ commented on #839
I had same issue, when using tensorflow.keras. I had written a custom data generator using python yield instruction. My problem was that I used generator for validation data, but didn't determine the validation_steps (So the data collector was going to out of range):
[code]
And fixed it by using validation steps:
[code]

[2020-02-24 12:34] picsag commented on #997
Apparently this hasn't happened with 1.0.2, only in 1.0.1.
Thanks

[2020-02-24 12:34] #997 closed

[2020-02-24 15:20] #849 closed

[2020-02-24 16:51] haifeng-jin commented on #998
I have never seen this before.
To my understanding, the issue is mainly related to export_model.

The behavior is highly likely that there is an exported preprocessing layer that is not adapted, which is a known bug.
However, I don't think we include any preprocessing layer in ImageRegressor.

Would you try best_model.summary() to see what is inside?
As long as it is an OK Keras model, it should h

[2020-02-24 17:09] torokati44 commented on #651
DenseBlock still always uses ReLU activation, it is hardcoded.

[2020-02-25 13:53] Unemyr commented on #998
Hi Haifeng,
It looks like this (on the exact same code and repeatable training set as the original log file attached):

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
========================================================================================

[2020-02-25 20:44] haifeng-jin commented on #782
There are two possible approaches.
1. Put the preprocessing step inside the Keras model.
We need a preprocessing layer to change the shape.
The input shape to the preprocessing layer (num_instances, num_features).
The output shape of the preprocessing layer (num_instances - lookback + 1, lookback, num_features).
Is it possible to implement a preprocessing layer like this?

2. Do the preprocessing

[2020-02-25 21:13] haifeng-jin commented on #782
@abgese
I have got a reply confirming we cannot implement a preprocessing layer doing the job. Let's take the second approach to add a TimeSeriesInput() in nodes.py and a corresponding adapter in input_adapters.py.

Let me know if you have any questions.

We may use this feature later when it is in TensorFlow's stable release.
https://github.com/keras-team/governance/blob/master/rfcs/20190729-kera

[2020-02-26 00:54] #949 closed

[2020-02-26 02:50] haifeng-jin opened #1005 "Changing Tutorials to Colab Notebooks"
### Feature Description
The source file for all the tutorials on the website (autokeras.com) should be a `.ipynb` file.

### Reason

Make it easier for people to try out the tutorials.

### Solution

Please help us change any of the `.md` files in the following directory to a `.ipynb` file.
https://github.com/keras-team/autokeras/tree/master/docs/templates/tutorial

You can refer to the `image_cla

[2020-02-26 05:22] bestpredicts commented on #440
does autokeras  support multi-GPU?

[2020-02-26 05:48] bestpredicts opened #1006 "did autokeras support. multi-gpu for train?"
Hi, I  have a  server with two gpus , I use autokeras  for  training,  but it seems only one gpu is working and the other does not work.

[2020-02-26 05:49] bestpredicts commented on #1006
here is my code `#%%
import os
import math
import codecs
import random
import numpy as np
from glob import glob
from PIL import Image
import cv2
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from tqdm import tqdm
import autokeras as ak
import time
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "0,1"

DEBUG = True
PRINT = False
img_width = 50
img_height

[2020-02-26 15:57] haifeng-jin commented on #998
I think I know why.

It might because the normalization layer has no weights when exported.
Exported model's Normalization is load from disk but its weights are not saved to disk.
If the normalization is giving invalid output, the model loss will be nan.

You can just uninstall tensorflow and install the latest tf-nightly.
It should solve the problem.

[2020-02-26 15:58] haifeng-jin commented on #440
It is based on TensorFlow. So it does in a way that trains one model on multiple GPUs as distributed training.

[2020-02-27 00:21] bestpredicts commented on #440
In fact, I specified two GPUs in cuda_visible_devices in the code, but when I use the fit method, he has two GPUs, but only one GPU is working.

[2020-02-27 11:45] hanotrahul commented on #925
hi, @haifeng-jin  when will Autokeras  support  object detection for a custom dataset  for training

[2020-02-27 19:29] ECEMACHINE commented on #914
ImageSegmenter.fit(x,y)

[2020-02-27 20:17] haifeng-jin commented on #914
@ECEMACHINE will design the APIs.

[2020-02-27 20:25] haifeng-jin commented on #440
I believe you can use any way that supported by tensorflow or tf.keras. AutoKeras is not doing anything to configure the GPUs to use. We just directly call the APIs of TensorFlow.
The only thing we did is to do a clear_session() before every run. Not sure if that would wipe out your gpu configuration.

[2020-02-27 20:28] haifeng-jin commented on #440
@bestpredicts Would you help us answer another question?
In this issue, it shows you have unassigned tl-yang from the issue. You can see the log right above.
However, I don't think you have permission to do it.

Would you please let me know how did you unassigned him?
GitHub is trying to fix this bug.

[2020-02-27 20:29] haifeng-jin commented on #925
@yufei-12 is designing the APIs.
Hopefully, we will have a basic model in the next 2 months.
Yufei, do you have any updates on this issue?

Thanks.

[2020-02-28 00:28] bestpredicts commented on #440
Thank you for your answer, in fact I did not do any unassigned operation, I don't know why this bug was triggered  :O

[2020-02-28 08:36] yufei-12 commented on #925
Hi, I'm reading the code of autogluon. I'll get started soon.Thank you.

------------------&nbsp;Original&nbsp;------------------
From: "Haifeng Jin"<notifications@github.com&gt;;
Date: 2020年2月28日(星期五) 凌晨4:29
To: "keras-team/autokeras"<autokeras@noreply.github.com&gt;;
Cc: "K"<1345997226@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
Subject: Re: [keras-team/autokeras] Object Detection (#92

[2020-02-28 11:01] hanotrahul opened #1015 "Json Format data"
### Feature Description
How can I load data that is in  JSON and start trainig of a model in object detection
Code Example

[code]

[2020-02-28 22:45] haifeng-jin commented on #1015
Currently, we are not supporting JSON format, you have to write your own python program to convert JSON to a compatible format (numpy.ndarray, tf.data.Dataset).
We also do not support object detection for now.
Thanks.

[2020-02-29 10:47] #868 closed

[2020-03-01 12:57] Unemyr commented on #998
Hi Haifeng,
I did try with tf-nightly and it does remove the occurence of NaN trials. Thanks for higlighting this - I guess all current development is following tf-nightly. I will go ahead and close this.

[2020-03-01 12:57] #998 closed

[2020-03-02 08:02] #837 closed

[2020-03-03 06:15] chychen commented on #966
@picsag
may I ask you how good of your trained model performed on cifar10?
I only achieve 74% accuracy by default `ak.ImageClassifier`... (script as belows)

[code]

if it need a lot of custom config to get higher performance, I will feel this is not handy, comparing to apply resnet18 to get 94%+ accuracy.

[2020-03-03 08:40] bestpredicts commented on #999
same error
error ifo
[code]
here is my code

[code]

[2020-03-04 08:00] ericchen1207 commented on #992
@haifeng-jin Thanks.

[2020-03-04 08:00] #992 closed

[2020-03-04 13:04] PaulSteffen-betclic opened #1023 "Export model config"
### Bug Description
Can't export config properly from Autokeras classifier.
### Bug Reproduction
Code for reproducing the bug:
[code]

### Error messages:

Rebuild model from **yaml** is a comment, because it failed with the following message:
[code]

Rebuild model from **config** is a comment, because it failed with the following message:
[code]

Rebuilding model with **json** architecture seems

[2020-03-04 13:11] maechler commented on #573
@tik0 Have you found out anything on this one? Have you been able to use AutoKeras to create an Autoencoder or did you use something different?

[2020-03-04 15:17] haifeng-jin commented on #1023
we are not supporting the stand alone Keras. You can only export and load the model with TF.keras. Thanks

[2020-03-04 15:20] haifeng-jin commented on #999
Hi, Would you try the latest tf-nightly? It may resolve the issue. Thanks

[2020-03-04 19:24] #866 closed

[2020-03-04 20:48] #989 closed

[2020-03-05 01:24] #857 closed

[2020-03-05 13:03] moelliDo commented on #999
Hi, unfortunately the latest tf-nightly raises another error:

    AttributeError: in user code:

    /home/user/tf-nightly-test/lib/python3.6/site-packages/tensorflow/python/keras/engine/training.py:499 train_function  *
        outputs = self.distribute_strategy.experimental_run_v2(
    /home/user/tf-nightly-test/lib/python3.6/site-packages/tensorflow/python/distribute/distribute_lib.py:856 expe

[2020-03-06 01:17] Nesty92 opened #1027 "Export keras model"
### Bug Description
[code]

### Bug Reproduction
Code for reproducing the bug:
[code]
Data used by the code:
https://keras.io/datasets/#imdb-movie-reviews-sentiment-classification
### Expected Behavior
export the model

### Setup Details
Include the details about the versions of:
 - OS type and version: LinuxMint 19.3 (ubuntu 18.04)
 - Python: 3.6
 - autokeras: 1.0.2
 - keras-tuner:1.0.1
 - scikit

[2020-03-06 02:50] Nesty92 commented on #1027
Related with #999

[2020-03-06 11:17] PaulSteffen-betclic commented on #1023
I updated the **Bug Reproduction** by using only tf.keras methods, but some issues persist.

[2020-03-06 14:50] Nesty92 commented on #999
any news ?

[2020-03-07 21:05] haifeng-jin commented on #914
@ECEMACHINE will work on implementing the head.

[2020-03-08 15:55] yesuu opened #1032 "how the auto one-hot encoded result map to the source label?"
Assume use the `StructuredDataClassifier`, expected prediction result is three classifications of `0 5 10`.
After exporting the model, the `StatefulPartitionedCall` output is the one-hot encoded result, such as `[0,1,0]`.
But `StructuredDataClassifier.predict` outputs the source label, such as `0` or `5` or `10`.
How to map them both?

In order to know the answer, I looked at the code and found th

[2020-03-09 06:05] Kelvin-76 commented on #999
I have tested all dev versions of tf-nightly-gpu==2.2.0 in colab including the latest  version(tf-nightly-gpu 2.2.0.dev20200308) , error still exits.

From tf-nightly-gpu==2.2.0.dev20200226 to the latest version(tf-nightly-gpu 2.2.0.dev20200308), it will raise AttributeError: 'tuple' object has no attribute 'shape' error:
[code]
With tf-nightly-gpu==2.2.0.dev20200218 and before, it will raise Attr

[2020-03-09 09:47] #820 closed

[2020-03-09 23:58] #870 closed

[2020-03-10 04:58] #876 closed

[2020-03-10 13:01] dahlo commented on #920
@haifeng-jin do you have any suggestion on how to limit the time any other way, or a way to save the state of the program every n iterations/time units?

I run my code on a HPC center where i have to book my jobs with a time limit, and jobs are terminated when the timer runs out. It would be a shame if i can't save my model before that happens.

[2020-03-10 22:56] haifeng-jin commented on #1032
Hi,
If you want to use the export model, you will need to do the one hour encoding yourself. The structured data classifier accept both raw labels and encoded labels.

[2020-03-10 22:58] haifeng-jin commented on #999
I also found the latest tf-nightly doesn't solve the issue. We will need to further investigate it. Thanks

[2020-03-10 23:01] haifeng-jin commented on #920
Currently, the is no way to limit the time. However, all the intermediate results and models are saved on disk. You may try to see what's in the folder. Those kids and models are generated by KerasTuner. Thanks.

[2020-03-11 01:18] Mrzhang3389 opened #1038 "How do I freeze the model"
I want to freeze the model to pb format...

[2020-03-12 05:16] #862 closed

[2020-03-12 18:02] lamba92 opened #1043 "Image classifier using keras.utils.Sequence"
Is there a way to feed examples using a `keras.preprocessing.image.ImageDataGenerator().flow()`?
I was foolishly trying to convert the `Sequence` to a `tf.data.Dataset` with:
[code]
but failed miserably. The output shape of the sequence is `[(300, 225, 3), (3)]` where the first tuple is the shape of the image while the other one is the one hot encoding of the 3 possible classes.

[2020-03-14 09:15] #863 closed

[2020-03-14 10:02] alexcombessie commented on #890
Still interested by the way, any chance it can happen in a later version?

[2020-03-14 10:04] alexcombessie commented on #886
Hi,

I am still interested, get_params is an important method which would close the gap with the sklearn API.

[2020-03-16 06:41] ghost opened #1045 "Update the greedy tuner to consider the conditional search space"
I just started using Autokeras ver 1.0.2 in anaconda with Python 3.7 and tensorflow-gpu ver. 2.1.0 on Windows 10. I have a dual RTX Titan (NVlinked) setup and using Spyder ver. 4.0.1

I wanted to do some simple binary classification for RGB images:

clf = ak.ImageClassifier()
clf.fit(x_train, y_train, epochs=10)

Training starts ok but after 3 trials, this happens:
INFO:tensorflow:Oracle triggered

[2020-03-16 22:18] LiangqunLu opened #1046 ""Oracle triggered exit" for ak.StructuredDataClassifier"
when I run
[code]
it always triggers "INFO:tensorflow:Oracle triggered exit", then the worst model is selected for the evaluation.

Apparently, I expected the autokeras to select the optimized parameters and have the best model for evaluation.

[2020-03-17 09:11] gaoexingyun opened #1048 "The kernel appears to have died. It will restart automatically"
I used StructuredDataClassifier to train the model but it prompted me that The kernel appears to have died. It will restart automatically. I have tried many times, but the same.
The following is my code:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv("minmax.csv",header = None)
# divide the dataset into independant values and target value
X = data[data.co

[2020-03-17 16:20] haifeng-jin commented on #1038
I am not sure what is pb format. Is it possible to do it after exporting the model?

[2020-03-17 16:22] haifeng-jin commented on #1043
Currently, we did not test fort this feature. If you succeed, please let us know. Thanks

[2020-03-17 16:24] haifeng-jin commented on #890
I think this is totally doable with a small trick. Just export the model and get the output of the softmax.

[2020-03-17 16:27] haifeng-jin commented on #1045
This might because of the greedy tuning algorithms have some bugs. You can try to use the AutoModel API and use random search as tuner.

[2020-03-17 18:19] lamba92 commented on #1043
Ok so then how do you feed a big dataset with images without `keras.utils.Sequence`s? It's implausible to load it all in memory as you do in examples. It's fine for small Fashion-MNIST like datasets, what the huge ones?

[2020-03-17 22:06] nectario opened #1049 "Can I change the vocabulary size? Getting this error in AutoKeras (TextClassifier):"
### Bug Description
Getting the following error using multi label classification:
Is there a way to increase the vocabulary?

`Epoch 1/1000
2020-03-17 17:56:31.128359: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cublas64_10.dll
2020-03-17 17:56:31.665519: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dyna

[2020-03-18 02:43] haifeng-jin commented on #888
This is because the environment recognize the ak package as the one in the tests folder. directly install autokeras instead of cloning the repo would solve the problem.

[2020-03-18 04:58] hanotrahul commented on #1015
@haifeng-jin  when will autoKeras support object detection and prediction for custom models ??

[2020-03-21 02:01] #896 closed

[2020-03-21 13:10] samueljackson92 opened #1057 "Cannot serialize custom metrics in hypermodel"
### Bug Description
Hi,

The [ImageClassifier documentation](https://autokeras.com/image_classifier/#imageclassifier-class) suggests it should be possible to pass either a string or a callable as arguments `metrics`.

However, when I try this with an arbitrary callable (see code below) it get the following error:

[code]

I guess that `autokeras` tries to write the object to json at some point, bu

[2020-03-22 08:17] adsharanya opened #1060 "Provide an example for using tfrecord with AutoKeras"
### Feature Description

To make autokeras really useful it is important to be able to use it with datagenerators. Are we able to call the fit_generator method like in keras?

### Code Example

[code]

### Reason

### Solution

[2020-03-22 11:48] realjanpaulus commented on #1049
I have the same problem. Did you find any solution yet?

[2020-03-22 12:56] nectario commented on #1049
Nope. Not yet.

[2020-03-22 22:53] #891 closed

[2020-03-23 03:14] mapmeld opened #1061 "Documentation: examples for regression"
I recently finished using AutoKeras on a regression task with tabular data. It worked great (thanks!!) but while working on it, I noticed the tutorial is empty ( https://autokeras.com/tutorial/structured_data_regression/ ) yet there is now an example in the documentation in this repo.  Is a new release planned?

In the meantime - there's still no example for text regression or image regression. I

[2020-03-23 07:21] Mrzhang3389 commented on #1038
The Pb format model can be deployed by tensorflow serving. Both the *. CKPT weight of tensorflow and the *. H5 of keras can be converted into Pb format files. The Pb format files are convenient for the environment configuration of the client and the server, so we hope to have a Pb format export interface
The following is an example of the directory structure of a Pb file
[code]

[2020-03-23 22:37] haifeng-jin commented on #1043
We don't have an example right now. I believe there is a way to put them into a tf.data.Dataset. Do you think so?

[2020-03-23 22:40] haifeng-jin commented on #1015
@yufei-12 Is working on this. Hopefully will have some update soon. However, we don't have a timeline for when we can deliver this module for now.

[2020-03-23 22:46] haifeng-jin commented on #1060
Currently, we don't have plans for implementing this. Do you have some use cases that have to be done with a fit_generator?

[2020-03-23 23:26] haifeng-jin commented on #1061
We currently are not working on these tutorials. It would be great if you can contribute any of them. Please follow the image classification tutorial style to write it. Thank you!

[2020-03-23 23:27] haifeng-jin commented on #1049
You have to use the https://autokeras.com/preprocessor/#texttointsequence-class.
The max tokens is the vocabulary size.

[2020-03-24 01:15] adsharanya commented on #1060
Yes, I have very big datasets that will not fit in memory.

[2020-03-24 05:43] anavanab99 opened #1062 "can not save models 'TrackableWeightHandler' object has no attribute 'numpy'"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:
  File "/home/zy/PycharmProjects/dl_exchange/auto_ml_kaers.py", line 123, in <module>
    pass
  File "/home/zy/anaconda3/envs/tf2/lib/python3.6/site-packages/keras/engine/saving.py", line 449, in save_wrapper
    save_function(obj, filepath, overwrite, *args, **kwargs)
  File "/home/zy/anaconda3/envs/tf2/lib/python3.6/site-pa

[2020-03-24 13:58] Pythonatheart opened #1064 "AutoModel extra trial at end of training? "Oracle triggered exit""
I tried to fit AutoModel over image data for classification (3 classes):

input_node = ak.ImageInput()
output_node = ak.ImageBlock(normalize=True, augment=True)(input_node)
output_node = ak.ClassificationHead()(output_node)

auto_model = ak.AutoModel(
    tuner='bayesian',  # tried this because 'greedy' has some issues
    inputs=input_node,
    outputs=output_node,
    max_trials=10,  # maximum m

[2020-03-24 15:14] realjanpaulus commented on #1049
@haifeng-jin This did solved my problem, thank you. My problem was mainly not to use `AutoModel`. I had used `TextClassifier` before but this didn't work. The following code did work:

[code]

[2020-03-25 02:47] #1064 closed

[2020-03-25 02:51] Pythonatheart commented on #1064
Just noticed that final_fit is included in the fit method as per discussion in other issues.
It will be good to update documentation to reflect this?

[2020-03-25 03:51] #888 closed

[2020-03-26 10:01] Pythonatheart opened #1067 "Is final fit overfitting training data? Questions and more questions."
I am using AutoModel for image classification in AutoKeras version 1.0.2:

auto_model.fit(x_train, y_train)

I have noticed that AutoKeras does a final fit using best model found during trials but I can't seem to find information regarding the nature of this final fit. I presume it is fitting the entire training data (as opposed to 80 train:20 val default split of training data for trials).

Howev

[2020-03-27 07:23] anavanab99 commented on #1061
My Structured Data Regression doesn't seem to work, how did you do it

[2020-03-27 15:27] mapmeld commented on #1061
What was your issue? I didn't check for accuracy on mine, but I can give you a code sample

[code]

[2020-03-27 17:40] #794 closed

[2020-03-27 20:40] #912 closed

[2020-03-28 06:47] haifeng-jin commented on #1038
Thank you for the clarification! If my understanding is correct, you are able to do it with the current AutoKeras, right? You can just export the model as a Keras Model and convert it to on. So what you want is a convenient interface.

[2020-03-28 06:51] haifeng-jin commented on #1060
https://www.tensorflow.org/guide/data#consuming_tfrecord_data
This is a tutorial on using tf.data.Dataset to load large datasets, which doesn't fit in memory.
It is the most recommended way to load data to TF as well.

[2020-03-28 06:53] haifeng-jin commented on #1062
This is because we implemented our own preprocessing layer for feature encoding. We are soon moving to TF2.2, which has the official layers to do the task. At that time, this should be fixed.

[2020-03-28 14:56] asad91-colab opened #1071 "Multinodular autokeras"
I have a issue regarding multimodal autokeras application for evaluating and predicting model
Like how to evaluate and predict multimodular application using autokeras?
How to get accuracy and confusion matrix?

[2020-03-30 07:24] amir1m commented on #942
I have both requirements satisfied still getting the same error.

Keras: 2.3.1
Tensorflow: 2.0.0
OS: Mac OS Mojave

[2020-03-30 08:57] kevinkit commented on #942
It is tensorflow 2.**1**.0 like already sad above

[2020-03-30 09:37] amir1m commented on #942
It's working now. Missed the minor version of TF. Thanks for reply!

[2020-03-30 09:37] #942 closed

[2020-03-31 08:46] alexcombessie commented on #890
@haifeng-jin I agree, it's not difficult to code it with this trick. As it's a common requirement, I think it would be valuable to have it built-in the core library.

[2020-03-31 08:51] alexcombessie commented on #867
Heya @haifeng-jin,

Hope all is well in lockdown times...

I am answering quite late, sorry about that. I have a bit of a backlog going on at Dataiku. I can't commit, but if I find some time between now and summer I will try. But if anyone has time before that, definitely a better option.

Cheers,

Alex

[2020-03-31 19:05] daedelous opened #1075 "Issue with the fit function of autokeras not running on the image classifier"
### Bug Description
When I ran
auto_class.fit(X_train_tr,y_train_tr, validation_data=(X_train_v,y_train_v))
It gave me the printout following this description.. I was using the fit function which as I understand it takes in numpy arrays. I actually have video of this code working 3 weeks ago.
To simplify things if you remove the validation data section so it's just
auto_class.fit(X_train_tr,y_trai

[2020-03-31 20:26] Goreg12345 commented on #1075
Hi, I have the same problem. The same exception is raised when using a `tf.data.dataset`.

[2020-03-31 21:46] asad91-colab commented on #1071
![image](https://user-images.githubusercontent.com/62802318/78078061-145f2300-73dc-11ea-9e36-744b81c82f66.png)

[2020-04-01 02:01] Mrzhang3389 commented on #1038
Thank you for your reply. There is no mistake in your understanding. It would be better if you could have a convenient interface

1. The current problem is that the model export in *. H5 format of keras failed. I see in the issues that you are solving

2. Another problem is that some layers in autokeras are customized by you. They do not exist in the built-in layer of tensorflow, so they cannot be

[2020-04-01 06:02] flozi00 opened #1076 "Interface inspired by Ludwig"
### Feature Description
An interface inspired by [Ubers ludwig](https://github.com/uber/ludwig).
Giving a .yaml definition file and CSV file to autokeras and data preprocessing + architecture search is done without any code.

### Reason
Anyone can train neural networks without any knowledge or coding skills.
Prototyping would become very fast.

### Solution
Is it possible to copy the interface and

[2020-04-01 09:04] realjanpaulus opened #1077 "Trying to predict or evaluate, but"ValueError: Shapes (1,) and (32,) are incompatible""
When I'm trying to predict or evaluate my model with my test data, I got the error `ValueError: Shapes (1,) and (32,) are incompatible` and I can't find a solution. I don't know if its the same problem as #973 because the  error warning is a different one. Training just works fine, only the prediction and/or the evaluation fails. The csv file "german_speeches" can be found here: [https://github.co

[2020-04-01 23:06] Pythonatheart opened #1078 "Enable limiting model size based on Keras Tuner"
### Bug Description
ImageRegressor training stops at random when training on dual RTX Titan GPUs. Error Message:

ResourceExhaustedError:  OOM when allocating tensor with shape[32,1280,64,64] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
	 [[node model/separable_conv2d_15/separable_conv2d (defined at C:\Anaconda3\envs\automl\lib\site-packages\autokeras\engin

[2020-04-02 03:56] haifeng-jin commented on #1075
This is a known issue. We have fixed it in the master branch. You may try it with tensorflow==2.2.0rc2. Thanks

[2020-04-02 08:01] #924 closed

[2020-04-02 08:01] #928 closed

[2020-04-02 09:01] #927 closed

[2020-04-02 22:46] #907 closed

[2020-04-03 13:59] #904 closed

[2020-04-03 20:17] max1563 opened #1080 "Following the tutorial for text classification returns an error in Colab"
### Bug Description

Simply copy-pasting the code from the example usage for TextClassification gives the following error in Colab:

`/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/func_graph.py in wrapper(*args, **kwargs)
    966           except Exception as e:  # pylint:disable=broad-except
    967             if hasattr(e, "ag_error_metadata"):
--> 968               raise e

[2020-04-03 21:58] jayavanth opened #1081 "Model saving doesn't work for StructuredDataRegressor"
### Bug Description
I can't save the best model as h5 or even a tf file

### Bug Reproduction
Code for reproducing the bug:
[code]
gives me
[code]

It suggests I use `tf` instead of `h5`, but when I do that I get this error

[code]
[code]

Data used by the code:
-

### Expected Behavior
Save the best model in either h5 or tf format

### Setup Details

 - OS type and version: Ubuntu 18.04.01
 - Pyt

[2020-04-04 00:59] #926 closed

[2020-04-06 00:43] CharlesDove commented on #867
Good afternoon, all! I appear to be experiencing the same "Oracle, expected: ['val_f1']" error @alexcombessie detailed earlier, using release 1.0.2, so the problem doesn't appear to be fixed yet.

[2020-04-06 02:54] gautambak commented on #959
I am also having this issue. Is there an alternative way to view and save the best model?

[2020-04-06 21:46] #933 closed

[2020-04-07 02:56] takeofuture opened #1086 "Saving trained Model and trained model interpretation"
### Bug Description
This is more like the clarification on the tutorial description in very basic level. I tried
https://autokeras.com/tutorial/image_classification/
I try to understand the result. I got the following output by clf.fit(x_train, y_train,epochs=3)
Does this mean 3 models are compared and in the last step they try again with the bets score model? (Trial ID: 5ef9850ad12a412e6263423d2b

[2020-04-08 01:19] haifeng-jin commented on #782
@abgese I have merged the PR. I just found that there are still 2 minor changes we need to make.

1. We should change the default value of `predict_until`. Since we can know how long the user want to predict based on how long is the training and testing `x`. We just predict until the end of the `x`.

2. I am a little bit confused about why we don't need `y` in the `predict` function. I think the p

[2020-04-08 01:28] haifeng-jin commented on #1076
@flozi00 Thank you for the request! We are interested in pairing with third-party Softwares to provide more features to the users. Are you from the Ludwig team?

We may consider doing this after the next stable release of AutoKeras on TF 2.2.

Thanks.

[2020-04-08 01:30] haifeng-jin commented on #1076
@tonyabracadabra Would you provide your thoughts on Ludwig? Thanks.

[2020-04-08 02:29] Pythonatheart commented on #1086
Took me sometime to figure things out too, given the sparse documentation. But here's my take on your questions:

1. The number of models tested is determined by max_trials. In this tutorial example, max_trials = 10, meaning 10 models were tested.
2. For each model, the number of training rounds (epochs) are determined by epochs. In the tutorial, epochs=3, meaning only 3 rounds of training is atte

[2020-04-08 02:33] Pythonatheart commented on #1078
haifeng-jin, any time frame this will be implemented? I really like AK and want to use it in some of my papers. Thanks.

[2020-04-08 04:43] takeofuture commented on #1086
Thank you for your detail description.
I tested and I would like to share.
So basically you can save and load model by
from tensorflow.keras.models import load_model, save_model

You can save tf format and load tf format (h5 format does not work for me)

[code]

[2020-04-08 05:43] flozi00 commented on #1076
I am not from Ludwig team.
Actually Ludwig is running on tf 1, but they are working on tf 2 version

[2020-04-08 10:17] bozbil commented on #634
# for autokeras 1.0:

## save the model
model.save('my_model')

## load the model
import tensorflow as tf
new_model = tf.keras.models.load_model('my_model')

[2020-04-08 10:39] cbsudux opened #1088 "How do Data Augment and Normalize get tuned?"
The docs mention that data augmentation and normalization can be specified, if not they will be automatically tuned.

`Ycan configure the ImageBlock for some high-level configurations, e.g., block_type for the type of neural network to search, normalize for whether to do data normalization, augment for whether to do data augmentation. You can also do not specify these arguments, which would leave

[2020-04-08 10:45] TizianSchneiderZeMA commented on #1060
Hi, is there a similar solution for the StructuredDataRegressor? I have large numerical, structured data and the StructuredDataRegressor does not seem to support tf.data.Dataset with numerical data yet.

[2020-04-08 19:49] haifeng-jin opened #1089 "Adopt preprocessing layers for categorical encoding"

[2020-04-09 11:17] naitslup commented on #1060
Hi, is there an example how to feed TFRecord files to autokeras i tried this:

# read TFRecord file
feature_description = {
    'data_x': tf.io.FixedLenFeature([500,], tf.float32),
    'data_y': tf.io.FixedLenFeature([1], tf.float32)
    }

def _parse_function(example_proto):
    return tf.io.parse_single_example(example_proto, feature_description)

def sample(iterator):
    return next(iterator)

[2020-04-09 12:47] ghost opened #1091 "ValueError: Input contains NaN, infinity or a value too large for dtype('float64')"
### Bug Description
Similar to this: https://github.com/keras-team/autokeras/issues/554
Training stops in AutoModel for image binary classification.
Traceback (most recent call last):

  File "<ipython-input-2-57aad6c1bf64>", line 30, in <module>
    auto_model.fit(x_train, y_train, epochs=epochs)

  File "C:\Anaconda3\envs\automl\lib\site-packages\autokeras\auto_model.py", line 258, in fit
    **

[2020-04-09 12:52] hemangjoshi37a opened #1092 "ImportError: cannot import name 'preprocessing' from 'tensorflow.keras.layers.experimental'"
[code]

[2020-04-09 21:01] tonyabracadabra commented on #1076
I think this is a good to have feature.

[2020-04-10 18:26] haifeng-jin commented on #1092
It might be releated to tensorflow version. Would you try tf 2.1? Thanks

[2020-04-11 07:34] haifeng-jin commented on #1078
@Pythonatheart After #1093 is merged, you should be able to use it in the master branch. You can pass the `max_model_size` to any AutoKeras model you use.
You can find the description of `max_model_size` here:
https://keras-team.github.io/keras-tuner/documentation/tuners/#tuner-class

[2020-04-12 04:56] Pythonatheart commented on #1078
@haifeng-jin  Thank you for the response. However, can you provide an example of how to specify this in AutoKeras? The documentation for keras-tuner is not very useful:

max_model_size: Int. Maximum size of weights (in floating point coefficients) for a valid models. Models larger than this are rejected.

For example, how can I limit model size to fit my GPU, in this case a RTX Titan (24 GB memory

[2020-04-12 11:42] dingtom opened #1095 "AttributeError: 'tuple' object has no attribute 'shape'"
i have run keras_cnn.ipynb which copy from offical website in colab, but i got an error  AttributeError: 'tuple' object has no attribute 'shape'

[2020-04-13 07:23] #1038 closed

[2020-04-13 22:58] #1078 closed

[2020-04-15 09:39] kaixinbaba opened #1097 "About best_model exported's input_shape"
### Bug Description
Why the input_shape of my picture is (size, 150,150,3), but the input_shape of the best_model exported is (None, 150,3,1)

### Bug Reproduction
Code for reproducing the bug:
here's my code
[code]
Data used by the code:

### Expected Behavior
The shape of my picture is (150,150,3), then the input shape of this best_model should be (None, 150,150,3)

### Setup Details
Include the

[2020-04-15 15:15] kaixinbaba commented on #1097
I have a problem with the use, the object should be **np array** object instead of **list**, which will cause the dimension error, closed!

[2020-04-15 15:15] #1097 closed

[2020-04-15 18:58] marcelogp commented on #1080
I'm also having this issue and seems a duplicate of #1095.

It works with tensorflow 2.1.0 but I need to use a newer version to be able to export the model.

[2020-04-16 04:35] haifeng-jin commented on #1088
In the master branch now, you can see the tuning of these two.

[2020-04-16 04:39] haifeng-jin commented on #1078
@Pythonatheart I am not sure either.
This is the code I found how KT is using this max_model_size.
https://github.com/keras-team/keras-tuner/blob/d2d69cba21a0b482a85ce2a38893e2322e139c01/kerastuner/engine/hypermodel.py#L155

It seems like it is the number of values in the params.

[2020-04-16 05:55] Pythonatheart commented on #1078
@haifeng-jin  Thank you for your reply.
It is hard to determine the total parameters for max_model_size.
If using AlexNet as an example, total params is ~62M, and GPU memory consumed is ~1.0 GB.
So for 24GB GPU memory, does that mean max_model_size = 62M x 24 = 1.5Billion?
Probably not, and I don't know whether GPU mem is freed up after each trial (i.e. clear session?).
So, it's at best a trial an

[2020-04-16 06:26] cbsudux commented on #1088
@haifeng-jin , Can you post a link to the script that does it? The repo is pretty big and it's hard to find out where the tuning happens.

[2020-04-16 07:11] justinmulli commented on #964
Did you figure this out? I have the same issue. I let it run overnight and the results are useless, though it worked the first time. Lost a lot of time

[2020-04-17 14:55] kaixinbaba opened #1098 "For training on GPU, except for the first trials, other training speeds are very slow"
### Bug Description
Except for the first trials, other training speeds are very slow and I feel that I do n’t need a GPU.
The first trials, one step only takes 7 seconds, but the subsequent trials, one step takes more than 50 seconds

### Bug Reproduction
Code is the demo for ImageClassifier
[code]

Data used by the code:

### Expected Behavior
In my console:
The first trials
[code]
but after that

[2020-04-17 15:29] kaixinbaba commented on #1098
Add:
I did not wait for the second trial to finish before the test, so I came to a conclusion.
But now I have tested many times, no matter how much I set **max_trials**
No matter how much **epoch** is set, `ak` will only run **4** trials, and in the **third** trial
Will print this sentence ```INFO: tensorflow: Oracle triggered exit```
Only the **second** of these four trials is slow, and the other

[2020-04-17 22:54] Kraks commented on #1081
I play with the regression example from the autokeras website and have the same issue when saving to `tf` format, but a different one to `h5` format:

[code]

Versions:
OS: Linux Mint 19.3 kernel 5.0.0-32-generic
Python 3.6.9
tensorflow: 2.1.0
pandas: 1.0.3
autokeras: 1.0.2
scikit-learn: 0.22.2.post1
bumpy: 1.18.2

[2020-04-18 07:15] jayavanth commented on #1081
@Kraks Try this and see if it works. It works for me and I can save it but I can't load it back.

[2020-04-18 21:28] #1089 closed

[2020-04-19 03:53] #954 closed

[2020-04-19 03:53] #956 closed

[2020-04-19 17:19] mattou78400 commented on #999
Hello,

Is there any update regarding this topic?

I find myself in the same situation...

Thanks!

(tf 2.1)

[2020-04-19 21:34] AronWater commented on #1046
[code]

don't know whether I am facing the same issue

[2020-04-20 04:09] GuileCyclone opened #1101 "IndexError: pop from empty list(Error with Keras-Tuner Args)"
### Bug Description
  When I try the newest feature(commit 68a2522 , add kt support (#1093) ) of master,I use distribution_strategy argument for trying to distribute tuning on multi-gpu.Code is here:

input_node = ak.ImageInput()
output_node = ak.ImageBlock(block_type='xception', normalize=True,augment=False)(input_node)
output_node = ak.ClassificationHead()(output_node)
clf = ak.AutoModel(inputs=

[2020-04-20 07:53] #961 closed

[2020-04-20 18:23] cannin commented on #539
One way of checking for GPU on Tensorflow 2:

[code]

[2020-04-21 11:05] YourAverageSciencePal commented on #764
same issues

[2020-04-21 16:50] cordeirojoao commented on #1081
Hello,
I'm having the same issue :(
Does anyone was able to export a model create with StructuredDataClassifier api??

model3.save("modelo3", save_format='tf')

Traceback (most recent call last)
<ipython-input-9-e875c179c094> in <module>
      1 print("tipo do modelo gravado", type(model3))
      2 #tf.keras.models.save_model(model1, "modelo1") ##
----> 3 model3.save("modelo3", save_format='tf')

[2020-04-21 16:53] cordeirojoao commented on #1081
I tried to use
import tensorflow as tf
tf.enable_eager_execution()

But autokeras is running of TF 2.0 that doesn't work that way, I think.
@jayavanth Can you please let me know how you did it?

[2020-04-22 02:06] takeofuture opened #1103 "export_model does not work for specific image data and AutoModel"
Hi I am trying to experiment autokeras AUTOMODEL
I tried both mnist and myown data.
When I use  "clf = ak.ImageClassifier()"
model = clf.export_model() works just fine for mnist and my own data.

But when I use AutoModel like below,
clf.export_model()
only work for mnist but not my image data
I am not sure this is bug,
it is the same image I assume with different shape and
num_class is 2 instead o

[2020-04-23 05:38] #971 closed

[2020-04-24 15:35] cordeirojoao opened #1104 "Titanic example with StructuredDataClassifier - export_model with warnings summary returns error"
### Bug Description
I'm trying to implement the Titanic example with StructuredDataClassifier with save and load functionalities.
I have several issues that eventually are connected.
1. export_model returns warnings.
Example: `WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter`
2. summary returns error `'TrackableWeightHandler' object has no attribute 'shape'`
3. Export retu

[2020-04-24 18:07] dadebulba opened #1105 "Loading saved model causes Unknown layer: Normalization"
### Bug Description

When I load a saved model with `tf.keras.models.load_model(model_dir, custom_objects=custom)` I get the following error: "Unknown layer: Normalization".
If I try to add the `ak.Normalization` layer to `custom_objects` I get the following error:
"TypeError: __init__() got an unexpected keyword argument 'trainable'"
### Bug Reproduction
Code for reproducing the bug:

[code]
###

[2020-04-24 19:50] severinsimmler commented on #1077
@realjanpaulus, have you tried to set `batch_size` to `1`?

[code]

[2020-04-24 20:44] severinsimmler commented on #1077
I actually can't reproduce the exact error, but a `ValueError` is raised using your dataset:

[code]

Looks like there are classes in the dataset with only one instance:

[code]

After filtering those I am able to both predict and evaluate with the trained model (reaching 0.8794 accuracy).

I am on `autokeras` 1.0.2 and `tensorflow` 2.1.0. By the way, since `keras` as a standalone package is no lo

[2020-04-25 17:24] sibyjackgrove opened #1106 "Getting NotFoundError: when trying out structured data regressor example"
### Bug Description
Getting the following error when trying out the structured data regressor example:
[code]
### Bug Reproduction
[code]
Data used by the code:
`dataset_path = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"`
### Expected Behavior
Expected to train the model.

### Setup Details
Include the details about the versions of:
 - OS type and version: Win

[2020-04-26 08:27] realjanpaulus commented on #1077
Thank you for your help, but this didn't solve my problem. I tested it on another computer without the GPU and I got the same error.

[2020-04-26 18:11] #981 closed

[2020-04-26 18:11] #975 closed

[2020-04-27 20:32] WaseemRaza844 commented on #1080
I am also facing the same issue on the titanic survival problem I got from the following link. https://autokeras.com/examples/titanic/

I have also done some tweaking.

import autokeras as ak

# Initialize the classifier.
clf = ak.StructuredDataClassifier(max_trials=30)
# x is the path to the csv file. y is the column name of the column to predict.
# clf.fit(x=train, y='survived') # @ instead of u

[2020-04-28 23:46] haifeng-jin commented on #1095
Thank you for the report. It has been fixed in the master branch

[2020-04-28 23:49] haifeng-jin commented on #1078
@Pythonatheart I really don't know the answer. You may submit an issue to Keras Tuner to ask.
Actually, I have never exceeded the memory limit with our search space.
I have around 11GB of GPU memory.
Thanks.

[2020-04-28 23:50] haifeng-jin commented on #1088
https://github.com/keras-team/autokeras/blob/master/autokeras/tuners/greedy.py
@cbsudux The tuning algorithm is here. The search space is just defined in the build function in those blocks.

[2020-04-28 23:51] haifeng-jin commented on #1098
That is as expected. AutoKeras would try to explore different models for the first several trials. The first trial is a small model. The second one is much larger.

[2020-04-29 00:19] Pythonatheart commented on #1078
@haifeng-jin Thank you for your reply again.
The master branch of AutoKeras incorporating this argument for max_model_size uses tensorflow 2.2? I have been receiving errors relating to methods apparently only exists in tensorflow 2.2 nightly.
I will test this out when tensorflow 2.2 stable is released.

[2020-04-29 00:31] ghost opened #1108 "Option to set value range output for ImageRegressor"
### Feature Description
Allows user to set value range output, for example (0  - 100) for predicted outputs by ImageRegressor

### Code Example
model = ak.ImageRegressor(output=(min, max))  # set value range to (min, max) for output

### Reason
Very often in regression tasks, the target values fall within a determined value range, for example 0 - 100. At the moment, ImageRegressor can output value

[2020-04-29 07:30] cbsudux commented on #1088
Thanks, it looks like you only tune to Normalize or to Augment, as booleans. Not what transform to apply.

[2020-04-29 07:30] #1088 closed

[2020-04-29 08:35] GuileCyclone commented on #1105
@dadebulba I also met this problem，and I fixed this by adding

to CUSTOM_OBJECTS.This bug has fixed in master branch（not release now,with tf 2.2.0rc3）.

[2020-04-29 10:17] pacohernandezg commented on #1081
Same problem here, when I try to save the exported model from the StructuredDataClassifier example, I get the following error:

RuntimeError: Attempting to capture an EagerTensor without building a function.

Thank you.

[2020-04-29 15:59] cordeirojoao commented on #1103
Same issue in here. On this case I made a "hello world" with Cifar 10 and export doesn't work :(

[code]

Return error:
ValueError                                Traceback (most recent call last)
<ipython-input-5-6d0d37edc8f9> in <module>
----> 1 model = auto_model.export_model()
      2 print(model.summary())

~\Anaconda3\envs\myenv\lib\site-packages\autokeras\auto_model.py in export_model(self)

[2020-04-29 16:45] cordeirojoao commented on #1103
I made another attempt. On this case using mnist [example]( https://autokeras.com/tutorial/customized/) but cutting some steps to make it simple

[code]

Still get the error `Shapes (32,) and (64,) are incompatible` at `export_model` :(

[code]

[2020-04-29 17:32] cordeirojoao opened #1109 "AutoModel error when using a ConvBlock (simples hello world)"
### Bug Description
Trying to do a simple "hello world" with Titanic dataset using AutoModel  with a Conv block, it returns error :(

### Bug Reproduction
[code]

Data used by the code:
[code]
### Setup Details
 - OS type and version: Win10
 - Python: 3.7.4
 - autokeras: 1.0.2
 - numpy: 1.18.1
 - pandas: 1.0.3
 - tensorflow: 2.1.0
 - TF.Keras: 2.2.4-tf

### ERROR
`TypeError: Value passed to parame

[2020-04-29 21:08] dadebulba commented on #1105
Thanks, it works

[2020-04-29 21:08] #1105 closed

[2020-04-29 21:48] #1061 closed

[2020-04-30 07:36] #1000 closed

[2020-04-30 08:36] #973 closed

[2020-04-30 15:17] arita37 opened #1110 "Autokeras on TF 1.5"
### Feature Description

Is there a way to run AutoKeras on TF 1,5 ?

What would be the workaround ?
Thanks

[2020-05-01 15:00] sibyjackgrove commented on #1110
I doubt it would be worth the effort. TF 1.5 was over 2 years ago and much has changed in TensorFlow since then. You may be able to get it working with TF 1.15 though.

[2020-05-01 18:21] #839 closed

[2020-05-02 01:54] mag1cfrog commented on #661
According to AutoKeras's official website, the function of Time Series Forecasting is coming soon.

[2020-05-03 08:30] #1006 closed

[2020-05-04 05:05] haifeng-jin opened #1116 "add version attribute"

[2020-05-04 16:11] #1116 closed

[2020-05-05 10:28] AronWater opened #1118 "Is the child modal's information extractable?"
If I set the max trail to be 10. How could I get the architecture of all the 10 child models(I know that the architecture will be printed but I would like to get it by code)?  Thanks!

[2020-05-05 12:33] ciberger commented on #984
## Description
Hi! I'm dealing with the same situation where I want to use a generator to read from a massive training set. Image Classifier's [fit method documentation](https://autokeras.com/image_classifier/#fit-method) describes _tensorflow.Dataset_ as a valid input type for the class, meaning _train_ds_ is formatted in the right schema. If generators are not tested, can you recommend an altern

[2020-05-05 16:59] qingquansong opened #1119 "ImageClassifier with tf.data.Dataset input - classification head set loss error"
### Bug Description

The problem may be caused by the ClassificationHeadAdapter- > fit_before_convert method, which does not convert the tf TensorShape to integer. Not sure if in newer version of tf, the comparison between tf TensorShape and integer is allowed.

### Bug Reproduction
codes are in the image classifier example in jupyter (data format section)

Data used by the code:
MNIST

### Expect

[2020-05-05 18:50] qingquansong opened #1120 "Multi-label classification with two labels"
### Bug Description

ImageClassifier classification head treats the multi-label classification with 2 labels as multi-class classification one-hot encoded labels.

### Bug Reproduction
Code for reproducing the bug:

----

from sklearn.datasets import make_multilabel_classification
X, Y = make_multilabel_classification(n_samples=100, n_features = 64,
                                      n_classes=

[2020-05-06 09:36] ciberger commented on #1032
you might use

[code]

[2020-05-07 04:33] qingquansong opened #1121 "TextClassifier does not allow embedding size to be larger than 20000"
### Bug Description

The bug appears when the number of distinct tokens in the text dataset is larger than 20000 (default).

### Bug Reproduction

https://github.com/datamllab/automl-in-action-notebooks/blob/master/3.3.1-Task-API-TextClassifier-20newsgroup.ipynb

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python:
 - autokeras: 1.0.2
 - keras-tuner:
 - s

[2020-05-07 04:35] qingquansong opened #1122 "Multi-label classification `predict` method return probabilities rather than calibrated labels."
### Bug Description

Multi-label classification `predict()` method return probabilities rather than calibrated labels.

### Bug Reproduction
https://github.com/datamllab/automl-in-action-notebooks/blob/master/3.3.4-Task-API-Multi-label.ipynb

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python:
 - autokeras: 1.0.2
 - keras-tuner:
 - scikit-learn:
 - numpy

[2020-05-07 11:15] oscaralvaro opened #1123 "Autokeras 1.0.3 not running in google Colab"
### Bug Description
When trying to reproduce MNIST example using the latest master-branch version (which solves issue #1095), the fit method get's stuck and never finishes. Below the content of notebook I used.

### Bug Reproduction
Google colab notebook content:

[code]

[code]

[code]

[code]

[code]

[code]
then the cell just hangs forever

### Setup Details
Include the details about the versio

[2020-05-07 12:07] oscaralvaro commented on #1123
When using a prior version of both tensorflow (2.1.0) an autokeras (1.0.2) this error doesn't happen

[2020-05-07 21:30] qingquansong opened #1125 "Model `summary()` method does not work for some of the exported best Keras models"
### Bug Description

Model `summary()` method does not work for some of the exported best Keras models found by the task APIs (have tried text and structured classifier)

### Bug Reproduction
It seems only ImageClassifier API example works well.

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python:
 - autokeras: 1.0.2
 - keras-tuner:
 - scikit-learn:
 - n

[2020-05-08 09:05] ruti1012 commented on #1123
I'm having the same issue using autokeras 1.0.3 ([latest commit](https://github.com/keras-team/autokeras/commit/470651e10ef1d07cb42802516e8161d20d3fbe62)) on colab with the ImageClassifier.

[2020-05-08 10:24] oscaralvaro commented on #964
has this bug being fixed yet?

[2020-05-08 20:32] qingquansong commented on #1123
It might because of the modification of kerastuner. Please try to install a fairly latest version of kerastuner (note: the `` __version__`` attribute of this version may not be correct):

KerasTuner: pip install git+git://github.com/keras-team/keras-tuner.git@d2d69cba21a0b482a85ce2a38893e2322e139c01

TensorFlow: 2.2.0 (or the default 2.2.0rc4 on current Google colab)
AutoKeras: 1.0.3 master branch

[2020-05-08 20:36] qingquansong opened #1126 "Improve performance of StructuredDataRegressor"
### Bug Description

Improve performance of StructuredDataRegressor (on California housing price prediction dataset)

https://github.com/datamllab/automl-in-action-notebooks/blob/master/3.3.3-Task-API-StructuredDataRegressor-California.ipynb

a manually constructed model:
https://github.com/datamllab/automl-in-action-notebooks/blob/master/2.3-House-Price-Prediction-MLP.ipynb

### Setup Details
Inc

[2020-05-09 04:01] qingquansong opened #1127 "IO API, multi-modal classification, predict method problem"
### Bug Description
IO API, multi-modal classification, predict method problem

### Bug Reproduction

https://github.com/datamllab/automl-in-action-notebooks/blob/master/3.4.2-Functional-API-Multi-Input.ipynb

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python:
 - autokeras: 1.0.2
 - keras-tuner:
 - scikit-learn:
 - numpy:
 - pandas:
 - tensorflow: 2.1.0

[2020-05-09 19:55] oscaralvaro commented on #1123
Thank you QQ for the tip. For now I will stick to TF 2.1.0 and AK 1.0.2, as is working so far.

I wanted to reported anyway so you guys are aware of the issue.

[2020-05-10 15:06] ruti1012 commented on #1123
Using the latest version of KerasTuner fixed the problem, thanks!

[2020-05-10 15:38] #966 closed

[2020-05-11 02:03] qysnn commented on #1104
I have the same error when trying to call `model.summery()`

[2020-05-11 10:25] gladomat opened #1128 "Out of memory, process killed when running on CPUs"
### Bug Description
When I run `ak.StructuredDataRegressor` on 16 CPUs I get an out of memory error:

`[Mo Mai 11 10:40:26 2020] oom-kill:constraint=CONSTRAINT_NONE,nodemask=(null),cpuset=/,mems_allowed=0,global_oom,task_memcg=/user.slice/user-1000.slice/session-c2.scope,task=python,pid=9246,uid=1000
[Mo Mai 11 10:40:26 2020] Out of memory: Killed process 9246 (python) total-vm:41532112kB, anon-rs

[2020-05-11 17:08] uldcap opened #1129 "Autokeras does not save model"
Hello everyone,

I am trying to save an autokeras StructuredDataRegressor model.
I am doing some test since my training is a very long one. Below you have the code and the error. Please, can you help me?

**CODE**
[code]

**ERROR**
[code]

[2020-05-13 04:16] WilliamJudge94 commented on #1045
I am having the same problem. I downgraded my AutoKeras from 1.0.2 to 1.0.1, set my **max_trials=10**, epochs=1 (for testing purposes) and I was still getting the Oracle error. **BUT** if I set the **max_trials=12** then it would complete all 12 trials without any issues. **This was also with kernel restarts in-between each max_trial test**. I am unsure what this means, but hopefully, it helps in

[2020-05-13 14:20] alexcombessie commented on #886
still interested in this feature!

[2020-05-14 16:45] pymacbit opened #1132 "AttributeError in Image Classification Tutorial"
### Bug Description

After executing ImageClassifier cell it says AttributeError: 'tuple' object has no attribute 'shape'

[2020-05-14 23:16] KartikChugh commented on #1081
I can save but loading gives me `ValueError: Unknown layer: CategoricalEncoding`

[2020-05-16 19:10] haifeng-jin commented on #661
The Time Series Forecasting is actually in the master branch. We won't release it until we have fully tested its performance.

[2020-05-16 19:10] qingquansong opened #1133 "ConvBlock get_config lacks `num_layers` and `max_pooling`"
### Bug Description

The get_config methods in ConvBlock does not have `num_layers` and `max_pooling` hyperparameters.

https://github.com/keras-team/autokeras/blob/470651e10ef1d07cb42802516e8161d20d3fbe62/autokeras/hypermodels/basic.py#L194

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python:
 - autokeras: 1.0.3
 - keras-tuner:
 - scikit-learn:
 - numpy

[2020-05-16 19:13] haifeng-jin commented on #1118
You need to use AutoModel.tuner to get the tuner. Then use Keras Tuner's methods to get the models. Please refer to https://keras-team.github.io/keras-tuner/documentation/tuners/#get_best_models-method

[2020-05-16 19:14] haifeng-jin commented on #984
Current we don't support generators. It seems not the main stream way to do the job in the future of tf keras. We will try to support tf records, which we haven't really tested yet.

[2020-05-17 01:01] #920 closed

[2020-05-17 16:09] ciberger commented on #984
Hi @haifeng-jin. Thanks for your reply.

are you aware if it's possible to convert `tf.data.Dataset.from_generator` to a `ndarray` to be used as a training set?

Thanks

[2020-05-17 16:42] haruiz commented on #984
@ciberger, This code seems to work, you can give a shot:

[code]

[2020-05-17 16:55] haruiz commented on #984
@ciberger, this code works, you can give a shot:

[code]
Then you can feed your fit function with the tf.datasets

[2020-05-18 12:39] jasoniswow opened #1136 "Architecture issue (network morphism) when running on multiple GPUs"
**Short summary about the issue/question**:
When running example with multiple GPUs, the best architecture (with highest accuracy) is just a simple expansion of original network, wider and deeper, without complex subnet based on skip operations.

**Brief what process you are following**:
https://github.com/microsoft/nni/blob/master/examples/trials/network_morphism/cifar10/cifar10_keras.py

**How t

[2020-05-18 19:02] srijandas07 commented on #40
any progress on this issue?
Thanks

[2020-05-18 22:10] ogabrielluiz commented on #1081
I'm having the same problem.

[2020-05-19 23:56] ben-arnao opened #1138 "Training parameters and support for other custom parameters/layers/etc."
I apologize if i am missing it, but after going through some documentation and the white paper on BO guided network morphism it seems like autokeras has a fixed amount of popular parameters and choices that it optimizes on and chooses from based on what what type of problem we are doing ie. image classification, structured regression. Is this assumption correct? Is there a way to tell ak to includ

[2020-05-20 12:20] saschagobel opened #1141 "TextClassifier example - AttributeError: 'tuple' object has no attribute 'shape'"
Hi,

when trying the IMDB Movie Reviews text classification example I receive the following error message when executing
[code]

I'm using the current tf-nightly 2.3.0.dev20200519 and the current autokeras 1.0.3 on Github. I receive the same error message with tf 2.2 and autokeras 1.0.2, and tf-nightly and autokeras 1.0.2.

I also tried tf 2.1.0 with autokeras 1.0.2, the fit works but then I canno

[2020-05-20 15:55] monellz commented on #1141
I get the same question when I run the example of MNIST!

[2020-05-20 16:49] psonglao commented on #1106
Try specifying a shallow folder for the directory, e.g.
`regressor = ak.StructuredDataRegressor(max_trials=2, column_names=column_names, column_types=data_type, directory=r'C:\hello')`

I experienced a similar issue for StructuredDataClassifier. I think this error is happening because of a Windows limitation on maximum path length. Solved it by changing the directory to a very shallow folder as su

[2020-05-21 01:52] #1119 closed

[2020-05-25 00:47] #1127 closed

[2020-05-25 09:13] ks93 commented on #1075
Same issue here. Google Colab. Tried with `%tensorflow_version 2.x` and `pip install tensorflow==2.2.0rc2`.

[2020-05-26 05:43] xtzd commented on #1141
I get the same question when I run the example of MNIST!

[2020-05-26 05:48] xtzd commented on #1141
The same question when I run the example of MNIST..

[2020-05-26 19:40] haifeng-jin opened #1150 "Upgrade to TF 2.3"
Use stringlookup layer instead of indexlookup layer.

[2020-05-26 19:42] #1023 closed

[2020-05-27 02:48] haifeng-jin commented on #1121
The bug is fixed by https://github.com/keras-team/autokeras/pull/1087

[2020-05-27 02:49] #1121 closed

[2020-05-27 04:53] haifeng-jin commented on #1125
This bug is fixed in the master branch.

[2020-05-27 04:53] #1125 closed

[2020-05-27 14:03] Jim-EDU commented on #1141
Hey guys,

I have found an docker image - pytorch/pytorch:1.4-cuda10.1-cudnn7-devel, that can solve the above problem!
Run it and execute following command, and then you could play with the autokeras.

apt-get update
apt-get upgrade
apt-get install python3-pip
apt-get install wget
apt-get install vim
apt-get install tmux
wget https://repo.anaconda.com/archive/Anaconda3-2020.02-Linux-x86_64.sh
bash

[2020-05-27 16:42] castrovictor commented on #1141
Same problem here.. what's causing the issue? I would prefer to know it rather than just copy & paste @Jim-EDU 's instructions. I am going to do my bachelor thesis using autokeras, so I need a good understanding.

[2020-05-27 23:41] cibic89 commented on #540
AutoKeras is not usable without fit_generator I feel. It is limited to toy problems!

[2020-05-27 23:44] cibic89 opened #1152 "AutoKeras is super limited without fit_generator"
### Reason
AutoKeras is awesome and incredibly powerful. I feel it is limited to toy problems as I cannot find practical methods to use it with augmented images

### Question
Any ideas how to extract data from Keras data generators if they can fit in memory that is?

[2020-05-28 01:48] JiHyeoNEE opened #1153 "I think Autokeras doesn't export best model"
Hi I'm using autokeras for my study.
I got an exported model from autokeras but I think it is not a best model.
This is my code.

model = ak.AutoModel(inputs=ak.ImageInput(), outputs=ak.ClassificationHead(), tuner='random', max_trials=50)
model.fit(train_input_data, train_target_data, epochs=100, validation_split=0.2, batch_size=1, shuffle=True, verbose=2)
final_model = model.export_model()

And t

[2020-05-28 02:22] achaar commented on #1153
Hi, please check Customized Space Search in https://autokeras.com/tutorial/image_classification/ to see if you are defining the model correctly.
Thanks.

[2020-05-28 17:07] loreloc commented on #1062
Having the same problem with TF2.2.0, trying to save a model having TextVectorization as first layer.
`NotImplementedError: Save or restore weights that is not an instance of `tf.Variable` is not supported in h5, use `save_format='tf'` instead. Got a model or layer TextVectorization with weights [<tensorflow.python.keras.engine.base_layer_utils.TrackableWeightHandler object at 0x7fbcd91b2bb0>]`

[2020-05-28 19:20] garar commented on #1128
Memory leak can be reproduced using titanic example from documentation:

[code]

It doesn't happen if I used keras-tuner on its own.

[2020-05-28 19:27] garar opened #1154 "Unable to select tuner for StructuredDataClassifier"
### Bug Description

StructuredDataClassifier constructor doesn't allow to choose different tuner than Greedy tuner.

I'm not sure if it is intentional.

### Bug Reproduction

https://github.com/keras-team/autokeras/blob/master/autokeras/tasks/structured_data.py#L200

### Expected Behavior

StructuredDataClassifier should allow selecting different tuners.

### Setup Details
Include the details abo

[2020-05-29 02:36] zmqp111 opened #1155 "tensorflow.python.framework.errors_impl.InvalidArgumentError: in autokeras save checkpoints"
Hi,

I have some error using Autokeras Image Classification.

`File "classificationTrain.py", line 233, in <module>
    history = classifier.fit(trainX, trainY, epochs=EPOCH, callbacks=callbacks, batch_size=BATCH_SIZE, validation_split=0.3, verbose=0)
  File "/usr/local/anaconda3/envs/BluAI/lib/python3.7/site-packages/autokeras/auto_model.py", line 258, in fit
    **kwargs)
  File "/usr/local/anac

[2020-05-29 14:01] #1005 closed

[2020-05-29 21:36] PascalSchimmler commented on #1152
Have a look at the last answer in this issue: https://github.com/keras-team/autokeras/issues/984

[2020-05-29 23:18] cibic89 commented on #984
Your example works for me and adapted this to fit my purposes. I have another issue now, ImageClassifier .fit with verbose=True shows nothing. I'm using google colab with GPU support and I have got it working before (albeit with bad predictive performance).

[2020-05-29 23:19] cibic89 commented on #1152
Thank you!

[2020-05-30 01:38] #1048 closed

[2020-05-30 01:38] #1043 closed

[2020-05-30 01:38] #1015 closed

[2020-05-30 15:26] #1057 closed

[2020-05-30 18:03] #1049 closed

[2020-05-31 01:36] deepakkumar1984 commented on #1075
Getting same issue with tensorflow=2.2.0

C:\Python\Python37\lib\site-packages\tensorflow\python\keras\engine\training.py:571 train_function  *
        outputs = self.distribute_strategy.run(
    C:\Python\Python37\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:951 run  **
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Python\Python37\lib

[2020-05-31 12:52] bichengcao commented on #1132
I had the same issue on Python 3.8.3 and Tensorflow 2.2.0. But it works on Python 3.7.7 and Tensorflow 2.1.1.

The issue is probably in Tensorflow 2.2.0, but Python 3.8.3 doesn't support Tensorflow 2.1. So I have to use Python 3.7 to make it work.

[2020-05-31 15:44] iirekm commented on #1095
+1

On Ubuntu 20, autokeras 1.0.2, and the official example:
[code]

[code]

[2020-05-31 17:27] madhubandru commented on #1095
+1

Facing same error.

IDE: Juypter notebook

------------------------------------------------
from tensorflow.keras.datasets import mnist
(x_train, y_train), (x_test, y_test) = mnist.load_data()

import autokeras as ak

clf = ak.ImageClassifier(max_trials=10)
clf.fit(x_train, y_train,epochs=3)
---------------------------------------------------

`Epoch 1/3
---------------------------------------

[2020-05-31 17:53] madhubandru commented on #1075
+1

Upgraded tensorflow==2.2.0rc2 but still facing same issue. Please look into this.

[code]

[code]

[2020-05-31 22:11] deepakkumar1984 commented on #1075
Sorry should have checked the comment above that its been fixed in master branch. The current solution untill 1.0.3 is released is below:

- pip uninstall autokeras
- git clone https://github.com/keras-team/autokeras
- cd autokeras
- python setup.py install

[2020-05-31 23:01] madhubandru commented on #1075
@deepakkumar1984 Thank you for the suggestion, even I overlooked that fix is pushed to master.

I have uninstalled AutoKeras and installed the new version 1.0.3 from git using below command.

`! pip install git+https://github.com/keras-team/autokeras`

Then I started executing my code to fit the model.

[code]

There is no ERROR but,` clf.fit(x_train, y_train,epochs=3)` running for longer time and

[2020-06-01 00:45] lsrock1 opened #1158 "Does ImageClassifier support tf.data ?"
### Bug Description
Does ImageClassifier support tf.data ?
When I run fit function with tf.Data, it occurs an error.

### Bug Reproduction
Code for reproducing the bug:
[code]
Data used by the code:

### Expected Behavior

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python: 3.7.6
 - autokeras: 1.0.2 master
 - keras-tuner: 1.0.1
 - scikit-learn: 0.23.1
 -

[2020-06-01 02:55] JiHyeoNEE commented on #1153
@achaar I tried it but result was same.. Thank you for the reply.

[2020-06-01 05:42] hyeonnnn opened #1159 "I have a problem with usage of multi-gpu"
Hi I cannot use multi-gpu with below error message.

[code]

Here is my code.

[code]

tf-gpu version : 2.1.0
ak version : 1.0.2
python : 3.7.7
keras : 2.3.1

Do anyone have an idea about it?

Thank you

[2020-06-01 10:37] cibic89 commented on #1158
Can you include the code for generating the train and validation sets? I suspect that you are trying to unpack data from the generator prematurely (for AutoKeras)

[2020-06-01 11:16] cibic89 commented on #1123
this happens to me too on Google Colab and on local machine using this Keras Tuner:
```KerasTuner: pip install git+git://github.com/keras-team/keras-tuner.git@d2d69cba21a0b482a85ce2a38893e2322e139c01 --no-dependencies```

[2020-06-01 18:48] #1120 closed

[2020-06-01 22:47] KirkDCO commented on #1095
Same problem here using official example from https://autokeras.com/tutorial/structured_data_classification/

Environment:
MacOS
Python 3.8
autokeras 1.0.2
tensorflow 2.2.0

-------------------------------
Epoch 1/1000
Traceback (most recent call last):
  File "ak_tutorial.py", line 11, in <module>
    clf.fit(x_train, y_train)
  File "/Users/kdelisle/opt/miniconda2/envs/AutoML/lib/python3.8/site-

[2020-06-02 03:14] eladmw commented on #540
I agree, if fit_generator is applied, this module will become very popular. Sparse integration would also be nice.

[2020-06-02 03:43] Jim-EDU commented on #984
Hi @haruiz ,

I downloaded a little mnist images stored in local folder to try your method, but it just showed the following message and then system hang:

`Found 9 images belonging to 3 classes`

when system hang, I could see it use a lot of CPU computing resources:

CMD                   %MEM %CPU
python3 script.py    0.7       117

Could you tell me how to deal with this situation?
I used tenso

[2020-06-02 09:25] lsrock1 commented on #1158
@cibic89 Thanks for your kindly answer. I tried without the evaluation data, I failed for some reason related to #984 .

[2020-06-02 11:37] castrovictor opened #1162 "Inconsistent solutions to previous issues: WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer."
### Bug Description
In order to use ImageClassifier, it's necessary to use tensorflow 2.1.0 as discussed on [issue 1141](https://github.com/keras-team/autokeras/issues/1141)

Now, if we want to save the model in a .h5 file and load it later, it's necessary to use tf-nightly as disccused on [issue 929](https://github.com/keras-team/autokeras/issues/929)

But the problem is when I load the model wit

[2020-06-02 15:50] KirkDCO opened #1163 "Example code not working - MPG example"
### Bug Description
Trying to get started using AutoKeras and finding that most of the example code does not work.

### Bug Reproduction
Running the example here:  https://autokeras.com/tutorial/structured_data_regression/

### Setup Details
Include the details about the versions of:
 - OS type and version:  MacOS Catalina 10.15.4
 - Python: 3.8
 - autokeras: master (pulled 20.06.01)
 - keras-tune

[2020-06-02 15:59] achaar commented on #1095
@KirkDCO Have you tried using the master branch?
If not, install using the AutoKeras master branch.

Thanks.

[2020-06-02 16:16] KirkDCO commented on #1095
Yes, to both.

I pulled from the master branch yesterday (20.06.01) and tf is 2.2.0 installed by pip.

Note that I'm also having errors with another example - issue report here:  https://github.com/keras-team/autokeras/issues/1163

[2020-06-02 16:20] achaar commented on #1163
Hello @KirkDCO , Can you please try again using the method mentioned in : https://github.com/achaar/autokeras/blob/img_reg_tutorial/docs/templates/tutorial/image_regression.ipynb

Please update the AutoKeras-tuner also.

Thanks.

[2020-06-02 16:35] haifeng-jin commented on #1095
Hi everyone, I am really sorry about the bugs.
I am busy fixing them and aiming at a new stable release soon.
If you have to get it working now, please try our master branch with the master branch of keras-tuner and tensorflow 2.2.0 as dependency.

Thanks.
[code]

[2020-06-02 16:40] KirkDCO commented on #1163
I'm not sure I understand what method you're referring to.   The code you linked uses an ImageRegressor and is very focused around that concept instead of a StructuredDataRegression.

Regarding updating AutoKeras-tuner, are you referring to keras-tuner (https://github.com/keras-team/keras-tuner)?  The example pulls from a specific commit which seems very unmaintainable.

[2020-06-02 16:45] achaar commented on #1163
Yes, you can use the specific commit for the time being. The issue will be resolved in the next release.

I was referring to the installation procedure for AutoKeras and keras-tuner.

[2020-06-02 18:01] alexcombessie commented on #890
Still very interested by this feature!

[2020-06-02 18:09] achaar commented on #1163
Okay, then we'll try to resolve this and get back as soon as possible.

[2020-06-03 02:31] #1133 closed

[2020-06-03 13:48] Astlaan opened #1165 "RegressionHead, how to set output layer activation function"
Is there a way to set the activation function for the output layer of a regression head?
I need to set it to sigmoid (but it's a regression problem, so I don't intend to use ClassificationHead).

[2020-06-03 15:27] chiboreache opened #1166 "[Feature request] Object Detector"
would be nice to see in addition to image classifier

[2020-06-03 17:29] #1122 closed

[2020-06-04 02:38] zmqp111 opened #1167 "Why are the example/mnist.py accuracy different 1.0.2 and 1.0.3 ?"
Hi,

I tested 1.0.2 and 1.0.3 example/mnist.py, and the results of the two acuracy are different.

autokeras version 1.0.2's accuracy is more than 0.9.
but 1.0.3's accuracy is less then 0.4.

Why are the example/mnist.py accuracy different 1.0.2 and 1.0.3 ?

**I am not sure of the accuracy predicted and best model in autokeras.**

Because my project uses the tensorflow 2.2.0 version, so, I have to

[2020-06-04 07:18] zmqp111 opened #1169 "Loading saved model causes Unknown layer: Normalization"
I try to saved best model, and load.

but i have
Loading saved model causes Unknown layer: Normalization error

autokeras : 1.0.2
tf : 2.1.0

* i cannot upgrade autokeras version, because autokeras 1.0.3's accuracy is not good.

[2020-06-04 07:23] zmqp111 opened #1170 "Exception: __init__() got an unexpected keyword argument 'trainable'"
i try to load best model,

i have Exception: __init__() got an unexpected keyword argument 'trainable'

[2020-06-04 16:14] Astlaan opened #1171 "Custom blocks causing errors during automodel.fit"
I'm trying to implement the following custom model in autokeras:

Data: sequencial data (padded according to the longest sample) with the shape (batch_size, Nr timesteps, Nr features per timestep) = (None, None, 20)
x_train.shape = (20373, 50, 20)
y_train.shape = (20373,)
x_train.dtype = dtype('int64')
y_train.dtype = dtype('float64')

Model:
- Masking Layer (due to the usage of padding)
- TimeDis

[2020-06-05 05:41] #1158 closed

[2020-06-05 10:53] cibic89 commented on #1158
Did you resolve thisw @lsrock1 ?

[2020-06-05 13:06] iXanthos opened #1173 "Training performance estimation retrieve"
Hello,

I would like to know can I retrieve the training performance printed during the `automl.fit()` call.
I have set the metric to `AUC` and the objective to `val_AUC`. During the training, the print shows this in the last iteration

`65/65 [==============================] - ETA: 0s - loss: 0.4182 - AUC: 0.855 - ETA: 0s - loss: 0.3399 - AUC: 0.896 - ETA: 0s - loss: 0.3424 - AUC: 0.900 - ETA: 0s

[2020-06-05 14:38] castrovictor commented on #1162
Update: the issue is not that the weights cannot be loaded, but the optimizer. In fact, the problem is that you get a warning saying the optimizer could not be saved whe you try to export the model to a file.

[2020-06-06 02:59] #1067 closed

[2020-06-06 14:52] Astlaan commented on #1165
I was able to get around this issue by overriding RegressionHead.build, by creating a `RegressionHeadSigmoid` that inherits from it and actually passes the activation parameter to the Dense layer.

[code]

However, I think it would be nice to modify RegressionHead to allow this 'activation' parameter as part of its constructor.

[2020-06-06 15:49] Astlaan opened #1175 "Batch normalization is being applied before the activation (opposite of Keras!)"
From the DenseBlock class:
[code]
Whereas in Keras the default usage is:
output = Dense(...)(input)
output = BatchNormalization(output)

Check:
https://github.com/keras-team/keras/issues/1802

[2020-06-06 18:07] mattou78400 commented on #1081
I'm also having the issue with StructuredDataInput

[2020-06-07 10:07] Itsuki-Hamano123 opened #1179 "StructuredDataClassifier reduces accuracy in learning multiclass classification"
### Bug Description
I tried some multi-class classifications but it didn't work.
loss decreases, auc increases, but accuracy starts from 0.0000e+0 or decreases toward 0.0000e+0.

Even Learning the scikit-learn wine data doesn't seem to work.

### code
`load_data = load_wine(return_X_y =True)

clf = ak.StructuredDataClassifier(max_trials=MAX_TRIALS, seed=7, metrics=["accuracy","AUC"])
clf.fit(x=loa

[2020-06-07 20:43] CharlesDove opened #1180 "AutoModel Input"
### Bug Description
Good afternoon! I'm currently encountering a bug when initializing the AutoModel system while using an ak.Input() tensor input. It gives the following error. Using any other input, such as ImageInput, works correctly. Any thoughts on what might be causing this?
Thanks!
Charles

[code]

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Pytho

[2020-06-08 08:40] njan-creative commented on #973
This is fixed now ?

[2020-06-08 14:49] Agnelgiles commented on #1080
Change the imports to

[code]

[2020-06-08 18:59] jayavanth commented on #138
@haifeng-jin Is this feature available yet? Because I'm getting an error

`ValueError: Expect the data to ImageInput to have 3 or 4 dimensions, but got input shape (5000, 3, 360, 640, 3) with 5 dimensions
`
when I have more than 1 video frame

[2020-06-09 03:05] chyt opened #1183 "KeyError: 'classification_head_1/spatial_reduction_1/reduction_type'"
AutoKeras version: master
KerasTuner version: master
TensorFlow version: 2.2.0

I am running a multi label image classifier based on the example code here: https://autokeras.com/tutorial/image_classification/

I was able to get the example code working with these dependency versions.

Now I am trying to modify the code to run on my own dataset. I have loaded in my own images and labels. I have set

[2020-06-09 13:01] StephenGoedhart commented on #1023
Got the exact same issue.

[code]

[2020-06-10 03:29] takeofuture commented on #630
I have the same question coming up.
Is thee any progress?
What is self? Model object loaded from ?
Ex.
clf = ak.ImageClassifier
clf.fit(x_train, y_train)
model = clf.export_model()
So  passing like predict_proba(model, x_test), I am a bit confused with "self".
Thank you!

[2020-06-11 01:48] nematiusa opened #1187 "AttributeError: 'tuple' object has no attribute 'shape'"
I run local and colab, I have this issue. how can I fix it.?
thanks

Epoch 1/2
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-29-6004af711273> in <module>()
      2 clf = ak.TextClassifier(max_trials=1) # It tries 10 different models.
      3 # Feed the text classifier with train

[2020-06-12 01:16] haifeng-jin commented on #672
We will improve the text task performances with transformers instead of improving rnn block.

[2020-06-12 01:16] #672 closed

[2020-06-12 01:17] haifeng-jin commented on #982
It works with the latest master of autokeras and kerastuner

[2020-06-12 01:17] #982 closed

[2020-06-13 18:36] alexfdo commented on #1081
I want to offer a solution that I use myself
It is based on Pickle + using the directories in the class structure at https://autokeras.com/structured_data_regressor/
Class StructuredDataRegressor
autokeras.StructuredDataRegressor (
  ...............................
     metrics = no
     **project_name** = "structd_data_regressor",
     max_trials = 100,
     **directory** = no
     ** cargo
)
If

[2020-06-14 00:24] cibic89 commented on #1095
This works for me now!!

[2020-06-14 00:24] cibic89 commented on #1075
Fix here: https://github.com/keras-team/autokeras/issues/1095#issuecomment-643699253

[2020-06-14 06:55] hello10242048 opened #1193 "TypeError: __init__() got an unexpected keyword argument 'name'"
TypeError                                 Traceback (most recent call last)

<ipython-input-13-1d3b99aa0089> in <module>()
     16         #outputs=[ak.ClassificationHead()],
     17         max_trials=global_max_trials,
---> 18         objective = 'val_loss',
     19         #overwrite=global_overwrite,
     20         #tuner='bayesian'

2 frames

/usr/local/lib/python3.6/dist-packages/autokeras/

[2020-06-14 07:31] #1086 closed

[2020-06-15 11:37] nithints commented on #959
This is still not working can someone confirm this issue still exists

[2020-06-15 13:59] hello10242048 commented on #1095
No, it does not work for me

[2020-06-15 14:00] hello10242048 commented on #1095
TypeError Traceback (most recent call last)

in ()
16 #outputs=[ak.ClassificationHead()],
17 max_trials=global_max_trials,
---> 18 objective = 'val_loss',
19 #overwrite=global_overwrite,
20 #tuner='bayesian'

2 frames

/usr/local/lib/python3.6/dist-packages/autokeras/engine/tuner.py in init(self, oracle, hypermodel, preprocessors, **kwargs)
36 preprocessors=None,
37 **kwargs):
---> 38 super().init

[2020-06-16 13:57] Lay4U opened #1196 "Can LSTM network be applied?"
This is my model, and I am wondering how I can optimize it by applying autokeras.

[code]

[2020-06-16 21:15] #1092 closed

[2020-06-17 00:07] utkarshgupta137 commented on #1046
Facing the same issue.
Get 'INFO:tensorflow:Oracle triggered exit' just after all trials complete.
In addition, I get the following when trying to save the exported model:

`>>> ak.export_model().save('ak')
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_1
WARNING:tensorflow:Unresolved object in che

[2020-06-17 00:09] utkarshgupta137 commented on #1046
Facing the same issue.
Get 'INFO:tensorflow:Oracle triggered exit' just after all trials complete.
In addition, I get the following when trying to save the exported model:

WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_1
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_2
W

[2020-06-17 00:12] utkarshgupta137 commented on #1046
Facing the same issue.
Get 'INFO:tensorflow:Oracle triggered exit' just after all trials complete.
My code:

ak = StructuredDataRegressor(max_trials=1, seed=0)
ak.fit(X_train, y_train, epochs=100)
ak.evaluate(X_test, y_test)
ak.export_model().save('ak')

In addition, I get the following when trying to save the exported model:

WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.it

[2020-06-17 08:36] pingusix commented on #1163
I am seeing this as well with structured_data_classifier after trying the various combinations of code mentioned earlier.  I get the error a lot of the time though not always and when it fails I can verify that the checkpoint  does not exist under the trials_xx/checkpoints/epoch_yy path. The directory parameter is specified as an absolute path and grep doesn't seem to show that the file has been s

[2020-06-17 14:12] utkarshgupta137 commented on #1129
Facing the same issue.

[2020-06-17 14:40] utkarshgupta137 commented on #1081
@alexfdo I'm facing the same issue. Could you elaborate on what you've done?
I tried to provide a directory myself, but still getting the same error.

[2020-06-17 17:18] alexfdo commented on #1081
#  save and load model
def load_pickle_model_from_file(name_file):
    with open(name_file, 'rb') as file:
        loaded_model = pickle.load(file)
    return loaded_model

def save_pickle_model_to_file(model, name_model):
    with open(Path(str(name_model)+".pickle"), 'wb') as file:
        pickle.dump(model, file)
    print(str(Path(str(name_model)+".pickle"))+' - model saved!')

#  create:   mo

[2020-06-18 13:11] adrienbruno opened #1197 "Hi @kevinkit , the minimum tensorflow requirement is 2.1.0 ."
Hi @kevinkit , the minimum tensorflow requirement is 2.1.0 .
It would be great if this requirement could be documented.

_Originally posted by @jcrodriguez1989 in https://github.com/keras-team/autokeras/issues/942#issuecomment-582511289_

Tensorflow-gpu is in the 2.0.0-alpha0 version,   how can I do to avoid the kevinkit problem?

I thank you in advance!

[2020-06-18 13:36] kevinkit commented on #1197
Install tensorflow 2.1.0

Like :

`pip install tensorflow-gpu==2.1.0`

I have not been active in this repository for a long time so I am not quite sure if this is still the case

[2020-06-19 16:14] flozi00 commented on #1076
Any news here ? @haifeng-jin @tonyabracadabra

[2020-06-20 14:17] sademakn opened #1198 "ImageDataGenerator for autokeras"
### I tried ImageDataGenerator with autokeras and got some errors. Is there any way to use ImageDataGenerator for loading large dataset from disk in a generator way and apply augmentation on it?

### Code Example

[code]

### Reason

### Solution

[2020-06-21 17:13] adrienbruno commented on #1197
hello

I thank you very much for your quick reply.

I am in a docker.

the command you indicate doesn't work if you don't upgrade pip....

RUN python3 -m pip install --upgrade pip
RUN pip3 install --no-cache-dir tensorflow==2.1.0

Now it works!!  you can close my  demand...

Adrien

Le jeu. 18 juin 2020 à 15:36, Kevin <notifications@github.com> a écrit :

--
Adrien BRUNO
17 Avenue CUMERO
06130  GR

[2020-06-23 08:49] RingoD commented on #942
I have tried both tf 2.1.0 and 2.2.0 still getting the same error.

1.
![image](https://user-images.githubusercontent.com/2156166/85382004-1cf56e80-b571-11ea-9ac5-5177fc029e78.png)

tf is installed using `docker pull tensorflow/tensorflow:latest-py3`.

2.
![image](https://user-images.githubusercontent.com/2156166/85382252-57f7a200-b571-11ea-9520-c2fbe87a68be.png)

tf is installed using `pip3 insta

[2020-06-23 14:03] MagdyIbrahim87 commented on #1091
i have same problem while the input is ok (the tuner already make several trials for the same input data)

[2020-06-23 15:39] haifeng-jin commented on #1104
This is fixed in our latest release. You can try out this example on colab, which has both the export and summary.
https://autokeras.com/tutorial/structured_data_regression/

[2020-06-23 15:42] haifeng-jin commented on #1162
We just had a new release 1.0.3. It runs fine with tf 2.2.0. You may have a try. Thanks.

[2020-06-23 15:46] haifeng-jin commented on #1173
I cannot tell which one is the actual performance. We may need to clean up the output of AutoKeras later.
I think you can pass a callback function to the fit function. In that callback, you can track these metrics.

Thanks.

[2020-06-23 15:51] haifeng-jin commented on #1171
@Astlaan I think this is a great use case!
If you would like to reproduce it on colab with autokeras 1.0.3, I will try to help you solve it.

Thank you!

[2020-06-23 15:53] haifeng-jin commented on #1170
I believe this is caused by some version inconsistency. Please tryout the latest version and use export_model to get the best model. Thanks.

[2020-06-23 15:54] haifeng-jin commented on #1169
You can pass the normalization layer as a custom object while you load the model.
Would you please provide your dataset? So that we can tune our algorithm to see why it doesn't perform good. Thanks.

[2020-06-23 15:58] haifeng-jin commented on #40
Currently, we only support this in ConvBlock. So you may need to follow this guide to connect your own space. https://autokeras.com/tutorial/customized/

[2020-06-23 19:13] telyn commented on #1198
I'm also struggling with this. I've seen rumours of people managing to get it to work.

[This post](https://github.com/keras-team/autokeras/issues/984#issuecomment-629828148) is the main thing I've been cribbing from.
[#1075](https://github.com/keras-team/autokeras/issues/1075#issuecomment-636543611) is also an important read I think.

Putting them together I built myself a docker image:

[code]

[2020-06-23 19:21] chenmin1968 opened #1201 "Can not run tutorial example under 1.0.3"

[2020-06-23 19:26] #1201 closed

[2020-06-23 19:27] chenmin1968 commented on #1201
resolved

[2020-06-23 19:35] sademakn commented on #1198
I gave autokeras up and returned to keras-tuner!!!

[2020-06-23 21:32] leandroimail opened #1202 "ModuleNotFoundError: No module named 'kerastuner' -- Autokeras==1.0.3"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/leandro/.local/share/virtualenvs/Moira-jyrwulee/lib/python3.7/site-packages/autokeras/__init__.py", line 1, in <module>
    from autokeras.auto_model import AutoModel
  File "/home/leandro/.local/share/virtualenvs/Moira-jyrwulee/lib/python3

[2020-06-23 21:39] leandroimail commented on #1202
When I install manually keras-tuner (pip install keras-tuner) the following error is thrown

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/leandro/.local/share/virtualenvs/Moira-jyrwulee/lib/python3.7/site-packages/autokeras/__init__.py", line 48, in <module>
    check_kt_version()
  File "/home/leandro/.local/share/virtualenvs/Moira-jyrwulee/lib/python3.7/

[2020-06-24 01:42] JChrysanthemum opened #1203 "Checkpoint references incompatible if you have checkpoints of same model"
### Bug Description

 Checkpoint references incompatible

### Bug Reproduction
Code for reproducing the bug:
Keep the checkpoint folder and re-run the script

[code]

Data used by the code:
      dataset of plants, it will get a same error with mnist

### Expected Behavior

Without deleting the old configuration folder ( like "image_classifier") manually, re-run the script will get no wired error

[2020-06-24 03:08] haifeng-jin commented on #1202
Please uninstall it and install it with this command. `pip install git+https://github.com/keras-team/keras-tuner.git@1.0.2rc0#egg=keras-tuner-1.0.2rc0`

[2020-06-24 03:10] haifeng-jin commented on #1091
We have fixed this problem for the new release. Please try autokeras 1.0.3. Thanks.

[2020-06-24 03:11] haifeng-jin commented on #1198
Currently AutoKeras is not supporting data generator. You may only use tf.data.Dataset with tf record as an alternative. Thanks.

[2020-06-24 03:12] haifeng-jin commented on #1203
We just released a new version yesterday. So you may try it with AutoKeras 1.0.3. Remember to set `overwrite=True`, it is usually the overwrite thing causes the incompatibility.

[2020-06-24 03:13] haifeng-jin commented on #1141
This is fixed in autokeras 1.0.3, which has just been released. Thanks.

[2020-06-24 03:15] haifeng-jin commented on #1062
Our latest tutorial on structured data regression works. It is using tf 2.2.0 ak 1.0.3.
It has no problem exporting the model. As I tested it saves too.
https://autokeras.com/tutorial/structured_data_regression/

[2020-06-24 03:16] haifeng-jin commented on #1128
How much is your memory please? I cannot reproduce the error on my machine.

[2020-06-24 03:17] haifeng-jin commented on #1154
We just open up this arg in every API. Please try AutoKeras 1.0.3. Thanks.

[2020-06-24 03:22] haifeng-jin commented on #1155
We just release AutoKeras 1.0.3 with tons of bugs fixed. You may give it a try with TF 2.2.0 and Keras Tuner 1.0.2rc0

[2020-06-24 04:29] haifeng-jin commented on #1095
We have released a new version 1.0.3. You may use this to install:
[code]

[2020-06-24 04:31] PascalSchimmler commented on #661
It does work pretty well, better than the lstm baseline in my case. I think the issue with lstm is kind of, that there is not as much to optimize. You might run into some trouble, I had to do minor changes to source code to make padding and maskig work for example

[2020-06-24 04:33] haifeng-jin commented on #1198
Let's use #984 to track all the generator related questions.

[2020-06-24 04:33] #1198 closed

[2020-06-24 04:33] #1152 closed

[2020-06-24 04:34] haifeng-jin commented on #1060
Let's use #984 to track all the generator related issues. Thanks.

[2020-06-24 04:34] #1060 closed

[2020-06-24 04:35] belkov0912 commented on #1081
I have the same error.
I'm adding DenseHashTable in DNNModel, intend to save embeddings in it, this is code:
`class DNNModel(tf.keras.Model):
    """A DNN Model."""
    def __init__(self, xxx):
            self.table = self._create_embedding_table(vocabulary_list, embeddings)

    def _create_embedding_table(self, vocab_list, embeddings):
        dimension = embeddings.shape[1]
        table = tf.

[2020-06-24 04:37] haifeng-jin commented on #984
Currently, we are short of hands. It would be great if anyone could try to give an example on TF record and tf.data. @naitslup has provided this example (https://github.com/keras-team/autokeras/issues/1060#issuecomment-611473658) , which would be a good start.

[2020-06-24 07:54] gladomat commented on #1128
I have 32 GB of memory and I'm running it on the CPUs not on the video card.

[2020-06-24 09:51] castrovictor commented on #1162
Thanks. Just tried and works with tf 2.2.0, but the warning persists. Anyway, I did some research and the warning states that the state of the optimizer can't be saved, i.e we could not continue the training from the same point it finished. So it's not a problem at all.

[2020-06-24 10:05] cibic89 commented on #984
Happy to do this.

[2020-06-24 15:23] sword134 commented on #999
Whats the status on this? Not being able to load a saved model kind of defeats the purpose of autokeras in the first place...

[2020-06-24 15:33] castrovictor commented on #1196
If you read the docs or the paper, you will find out that autokeras finds an architecture using a variation of bayesian modification. Not sure  if you can just improve an actual model with autokeras

[2020-06-24 15:51] castrovictor opened #1204 "Training does not start if we feed ImageClassifier.fit with tf.Dataset"
### Bug Description
The first batch of images seems to load due to memory usage, but training does not start. I am using ImageClassifier and I feed the fit() method with a tf.Dataset.

### Bug Reproduction
Code for reproducing the bug:
[code]
Data used by the code:
Can't provide the actual dataset since it's not public, but under directories N/P there are .png images. Here is the tree structure:
.

[2020-06-24 16:45] PascalSchimmler commented on #999
@sword134 It was fixed with the update today, here is the code that allows you to save and load:

[code]

[2020-06-24 20:14] leandroimail commented on #1202
I tried and it worked. Thks!

[2020-06-24 20:15] #1202 closed

[2020-06-24 21:00] dcdj99 opened #1205 "hypermodel value error with ImageClassifier"
### Bug Description

i get this error when using the image classifier function to test out auto-keras:

<line 180, in get_hypermodel
    'The `hypermodel` argument should be either '

ValueError: The `hypermodel` argument should be either a callable with signature `build(hp)` returning a model, or an instance of `HyperModel`.>

### Bug Reproduction
Code for reproducing the bug:

import tensorflow

[2020-06-24 22:43] sword134 opened #1206 "Custom time step for LSTM"
The question is quite simple and I have searched the internet wide and thin for a solution. How do I reshape a dataframe to have a custom time step that I feed the LSTM?

[code]
The above throws the following error `ValueError: cannot reshape array of size 446208 into shape (3984,90,112)`
So how do I change the look-back to a variable without it being 1 and thereby rendering the memory feature of

[2020-06-25 00:08] haifeng-jin commented on #1132
This is now fixed with AK 1.0.3. Thanks.

[2020-06-25 00:08] #1132 closed

[2020-06-25 00:09] haifeng-jin commented on #1153
I think it might because the metrics are evaluated on different data. During testing, I assume you passed testing data. During fit, AutoKeras split your training data and the evaluation is done on the validation data splited from the training data.

[2020-06-25 00:10] haifeng-jin commented on #1159
I believe we have fixed this in the latest version 1.0.3. Please let me know if it still doesn't work.

[2020-06-25 00:11] haifeng-jin commented on #1123
We just release the real 1.0.3. You may try this https://colab.research.google.com/github/keras-team/autokeras/blob/master/docs/ipynb/image_classification.ipynb

[2020-06-25 00:12] haifeng-jin commented on #540
Let's use #984 to track this generator issue. Thanks.

[2020-06-25 00:15] haifeng-jin commented on #984
I just discovered this one: https://www.tensorflow.org/api_docs/python/tf/data/Dataset#from_generator
You might be able to wrap your generator into a tf.data.Dataset with it.

[2020-06-25 00:17] haifeng-jin commented on #1166
#80 We have this issue here. However, we are not working on it right now. Will get to it after timeseries forecasting and image segmentation.

[2020-06-25 00:18] #1166 closed

[2020-06-25 00:19] haifeng-jin commented on #1167
Would you provide your code and dataset? It would be great if they are in a colab notebook. I can take a look to see why.

[2020-06-25 00:23] haifeng-jin commented on #1175
Thank you for the issue! We may make it more flexible to have different orders of the layers as a hyperparameter. I think people are doing it in various ways.

[2020-06-25 00:24] haifeng-jin commented on #1179
Would you provide your dataset? I can take a look. Thank you!

[2020-06-25 00:24] haifeng-jin commented on #1180
Thank you for the bug report. I think this is fixed in our latest release 1.0.3. You may have a try.

[2020-06-25 00:25] haifeng-jin commented on #1080
This is fixed in 1.0.3 release. You can also export the model with 1.0.3. Thanks.

[2020-06-25 00:25] #1080 closed

[2020-06-25 00:27] haifeng-jin commented on #138
Sorry, this is not of high priority now. We may get to it later when we have finished the tasks in progress.

[2020-06-25 00:28] haifeng-jin commented on #1183
Thank you for the report! I think it is fixed in the latest release 1.0.3. If it doesn't, please let me know. Thanks.

[2020-06-25 00:29] haifeng-jin commented on #1187
This is already fixed. Please try our latest release 1.0.3.
https://colab.research.google.com/github/keras-team/autokeras/blob/master/docs/ipynb/image_classification.ipynb

[2020-06-25 00:29] #1187 closed

[2020-06-25 00:30] haifeng-jin commented on #1075
this is fixed in the latest release 1.0.3. https://colab.research.google.com/github/keras-team/autokeras/blob/master/docs/ipynb/image_classification.ipynb

[2020-06-25 00:30] #1075 closed

[2020-06-25 00:31] haifeng-jin commented on #1193
This is because your are using a different version of Keras Tuner. Please follow this guide to install the correct version.
https://autokeras.com/#installation

[2020-06-25 00:33] haifeng-jin commented on #959
https://autokeras.com/tutorial/structured_data_regression/
I believe it is solved. You can try this tutorial.

[2020-06-25 00:33] #1095 closed

[2020-06-25 09:51] PascalSchimmler opened #1208 "Autokeras 1.0.3 restarting training for 1 epoch after training"
### Bug Description
I updated from 1.0.2 to 1.0.3 and ran the same code, 1.0.3 retrains the model (still with the model.fit function)
for 1 epoch after the last trial has ended and model.export() seems to take this retrained model.
This results in a very poorly trained model.
Example output of Tf 2.2.0 + Ak 1.0.3:
[Trial complete]
[Trial summary]
 |-Trial ID: 8250363f50777f4dad9d3c983a581481
 |-Sc

[2020-06-25 10:19] dcdj99 commented on #1205
i get the same error when using the examples from the autokeras webpage

[2020-06-25 12:02] castrovictor commented on #1205
Currently, autokeras does not support generators given by flow_from_directory. I tried to wrap them into a tf.Dataset because they are supposed to be supported, but there is a problem when fitting it. I opened an issue about that.

[2020-06-25 12:03] castrovictor commented on #1162
By they way, I think we can close this issue.

[2020-06-25 12:03] #1162 closed

[2020-06-25 12:43] dcdj99 commented on #1205
Thanks for replying, although flow_from_directory is not supported, it doesnt seems to be the source of my error. ive tried other datas including the examples given in the website and i still get the same error. i'm wondering if there is an issue with keras tuner?

[2020-06-25 14:17] sword134 opened #1209 "Set minimum epochs before early stopping"
### Feature Description
The ability to run a minimum amount of epochs before early stopping is activated. For example. Min_epochs=100, the model will run a minimum of 100 epochs before early stopping will be able to stop the model training.
### Code Example

[code]

### Reason

### Solution

[2020-06-26 01:04] haifeng-jin commented on #1129
This is fixed in 1.0.3. Please let me know if it is not.

[2020-06-26 01:05] haifeng-jin commented on #1076
We don't have enough people to work on this feature for now. But we welcome people to build a third-party package to do the job.

[2020-06-26 01:06] haifeng-jin commented on #1197
We have released a new version, which is 1.0.3. depending on tf 2.2.0. Please see this installation guide. https://autokeras.com/#installation

[2020-06-26 01:08] haifeng-jin commented on #1081
As I tested the latest version of AutoKeras can save the structureddataregressor fine.

[2020-06-26 01:10] haifeng-jin commented on #1196
Yes, we can although I haven't tested. You can use RNNBlock to do it with AutoModel.
https://autokeras.com/block/#rnnblock-class
https://autokeras.com/tutorial/customized/

[2020-06-26 01:13] haifeng-jin commented on #999
As I tested, it works now with AutoKeras 1.0.3.

[2020-06-26 04:50] Itsuki-Hamano123 commented on #1179
Thank you for your reply.
Wine data is provided scikit-learn datasets.
[https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html#sklearn.datasets.load_wine](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html#sklearn.datasets.load_wine)
It is table data for three-class classification, and all features are numerical values.

[2020-06-26 06:21] SivamPillai opened #1210 "AutoModel fit does not save the best model for export later"
### Bug Description
After finishing AutoModel fit when I try to export the model it complains about missing file. The error message is as below:

`ValueError: Unsuccessful TensorSliceReader constructor: Failed to get matching files on /ak_vanilla/trial_24d08bd5d9cf85fdcf31a67e75367d72/checkpoints/epoch_20/checkpoint: Not found: /ak_vanilla/trial_24d08bd5d9cf85fdcf31a67e75367d72/checkpoints/epoch_2

[2020-06-26 09:55] utkarshgupta137 commented on #1129
Issue solved in the latest version, thanks.

[2020-06-26 09:55] utkarshgupta137 commented on #1081
Issue solved in the latest version, thanks.

[2020-06-26 09:56] utkarshgupta137 commented on #1046
Issue solved in the latest version.

[2020-06-26 15:27] chyt commented on #1163
I am seeing this as well using ImageClassifier on Google Colab connected to Google Drive. Usually everything is fine with a smaller number of trials/epochs. However when I increase this number (right now I am doing 10 trials and 200 epochs) I get the error and the file does not exist in the directory.

I was wondering if it could have something to do with getting disconnected from Google Colab, bu

[2020-06-26 17:50] neilteng opened #1213 "Support for Dictionary like tf tensor input from tf.data"
### Feature Description
People may use tfrecords for distributed training or large data set training. To this end, it is nice to allow dictionary like tensor input from tf.data api.

And also note that, StructuredDataClassifier han't support tf.data yet.

### Code Example
like input format here
https://www.tensorflow.org/api_docs/python/tf/data/experimental/make_batched_features_dataset
[code]

##

[2020-06-26 18:49] chenmin1968 opened #1214 "Checkpoint not found error in the "structured_data_classification" example"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:

train_file_path = "data/train.csv"
test_file_path = "data/eval.csv"

x_train_df = pd.read_csv(train_file_path)
print(type(x_train_df)) # pandas.DataFrame
y_train_df = x_train_df.pop('survived')
print(type(y_train_df)) # pandas.Series

# Preparing testing data.
x_test_df = pd.read_csv(test_file_path)
y_test_df = x_test_df.pop(

[2020-06-26 18:50] #1214 closed

[2020-06-26 19:00] chenmin1968 opened #1215 ""checkpoint not found" error in the "structured_data_classification" example"
### Bug Description

I was trying to run the "structured_data_classification" example with the newly released version 1.0.3, but encountered this "checkpoint not found" error

### Bug Reproduction
Code for reproducing the bug:

train_file_path = "data/train.csv"
test_file_path = "data/eval.csv"

x_train_df = pd.read_csv(train_file_path)
print(type(x_train_df)) # pandas.DataFrame
y_train_df = x_tra

[2020-06-26 19:03] chenmin1968 commented on #1210
I was having similar issues with version 1.0.3

[2020-06-26 19:07] chenmin1968 commented on #1215
In trial_05b23cac10d5f471c6d77d73f3c7000e/checkpoints/, there are the following checkpoints:
epoch_0
epoch_44
epoch_45
...
epoch_53

BUT, no epoch43

[2020-06-27 05:05] RengarWang opened #1217 "visualize network"
I successfully run the MNIST example, but I want to visualize the network, and I don't know how to do it

[2020-06-27 10:54] #1076 closed

[2020-06-27 11:20] SivamPillai commented on #1210
OK, on further investigation, I have found that the error comes from keras-tuner in the save_model function of tuner class:

[code]

Here the model checks, if the number of epochs is more than the maximum number and starts deleting older models. The if condition ensures best_model is not deleted. However, the problem comes from the fact that best_epoch is always None. As a result, that condition i

[2020-06-27 12:59] SivamPillai commented on #1210
I have extended my hack further, to achieve the original goal in a non-standard way. I realized that best_step is only set at the end of the trial. So it is None during the trial. However, since we call save_model on epoch end, we can use the traditional approach of identifying best_epoch by comparing val_loss from logs and using this to find best_epoch and pass to the save model.

Here are my upd

[2020-06-28 00:21] chenmin1968 commented on #1210
Thanks a lot.

The piece of code is running now!

On Sat, Jun 27, 2020 at 5:59 AM Sivam Pillai <notifications@github.com>
wrote:

[2020-06-28 05:36] lolrudy commented on #1210
This issue helps a lot. However, the solution doesn't work for me. I find that the best model is evaluated by the validation accuracy, not the validation loss. The best epoch should be the one with the highest accuracy. Simply replacing best loss with best accuracy works.

[2020-06-28 05:53] SivamPillai commented on #1210
Yes true, you need to pick the specific metric that needs to be compared to identify the best model. For me it was a regression problem so I chose val_loss (rmse).

[2020-06-28 15:19] saschagobel commented on #1141
Thanks, this error does not occur anymore. However, using the installation instructions at https://autokeras.com/install/, ensuring that the scipy version is 1.4.1, keras-tuner version is 1.0.2rc0, and autokeras version is 1.0.3 per autokeras requirements I now get the following error:

Maybe related to #1193

[2020-06-29 01:23] maxmarketit commented on #959
I am afraid it does not work still.

The tutorial works fine in my colab,
but the code above still produces errors.

So I change the code to save data into a csv file and do the same thing as the tutorial,
but still `reg.predict()` produces an error(the below)

[code]

[2020-06-29 03:46] haifeng-jin commented on #1205
Please refer to #984 for how to use generators.

[2020-06-29 05:15] haifeng-jin commented on #1163
Originally, this error is because Keras Tuner deletes the old checkpoints saved on disk to reduce the disk usage. However, we have fixed this in a recent pull request (https://github.com/keras-team/keras-tuner/pull/318). Not sure why still exists.

@chyt Would you share a colab notebook for the reproduction? Thanks.

[2020-06-29 14:43] chyt commented on #1163
How would I share this notebook with you? The code is pretty straightforward, but the dataset is loaded from Google Drive.

[2020-06-29 15:30] castrovictor commented on #1204
I found the bug. When .fit() is called, it get stuck when calling _prepare_data(), which get stucks in split_data(). Then, split_data() get sutck when calling dataset.reduce(). This happens because Image data preprocessing from Keras creates an infinite generator, but according to [tensorflow docs, reduce()]([url](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#reduce)) runs until the d

[2020-06-29 15:57] dcdj99 commented on #1205
Hi, please see above comment that the error is not due to the generators.

[2020-06-30 11:48] anthayes92 commented on #1183
I consitently experienced the exact same KeyError: 'classification_head_1/spatial_reduction_1/reduction_type' which then caused the RuntimeError: Too many failed attempts to build model.
**Solved** by upgrading keras-base to 2.4.3

[2020-06-30 16:20] Kelvin-76 commented on #999
Thank you, it's working fine now.

[2020-06-30 16:20] #999 closed

[2020-07-01 17:45] haifeng-jin commented on #929
@zhulingchen Would you like to do a user study with us? Have a 30-minute meeting with me to talk about what do you think of AutoKeras. Your thinking is important to us. Thanks.

[2020-07-01 18:37] mreismendes commented on #1163
I've been having the same problem quoted by @chyt!
![image](https://user-images.githubusercontent.com/32521301/86279654-c27f9200-bbb0-11ea-974e-01d968e49b7a.png)

[2020-07-01 20:37] haifeng-jin opened #1219 "Public datasets list"
This is a list of public datasets, that we need to ensure AutoKeras is having good performances on.
Welcome to post more.

| Name | API | Code | Metric | Results |
| - | - | - | - | - |
| [MNIST](http://yann.lecun.com/exdb/mnist/)  | ImageClassifier| [code](https://github.com/keras-team/autokeras/blob/master/benchmark/mnist.py) | Accuracy | 99.04% |
| [CIFAR10](https://www.cs.toronto.edu/~kriz/cif

[2020-07-02 07:27] abdulsam opened #1220 "Save top 3 best models"
I want to save not just one but the top 3 best performing models created by AutoKeras. I want to analyze the differences between them. How can I save them?

[2020-07-02 10:18] #1077 closed

[2020-07-02 16:57] castrovictor commented on #1183
I'm having the same issue, but with Image Classifier. My autokeras version is 1.0.3

[2020-07-03 06:56] haifeng-jin commented on #1217
[code]
You can get a keras model in this way.
Then refer to this one for how to visualize it. https://keras.io/api/utils/model_plotting_utils/

[2020-07-03 06:58] haifeng-jin commented on #1141
@saschagobel Are you able to reproduce it in Colab?

[2020-07-04 11:26] RengarWang commented on #1217
thanks！

[2020-07-04 11:26] #1217 closed

[2020-07-04 19:22] sword134 opened #1221 "Tensorflow Check failed: status == CUDNN_STATUS_SUCCESS (7 vs. 0)Failed to set cuDNN stream"
### Bug Description

After running Autokeras for about 3 or so models it will crash giving the below error. I am using the tensorflow-gpu version and this used to work without problems until about 1 week ago.

### Bug Reproduction
Code for reproducing the bug:

Any dataset will do.

### Expected Behavior
It gives the below error.

### Setup Details
Include the details about the versions of:
 - OS

[2020-07-05 00:43] #1098 closed

[2020-07-06 06:21] JiHyeoNEE opened #1222 "I have different result with loaded model"
I saved the model like this,

[code]

and I loaded the model like this
[code]

I have different results between final_model.predict() and loaded_model.predict() with the same dataset.
The accuracy of former one is  about 86% but later one is 48%.
Also all the predicted results of loaded_model are just 1.
Please let me know why it is happened and how can I restore the same results.

 - Python: 3.7.

[2020-07-06 13:48] CPUFronz opened #1223 "StructuredDataRegressor doesn't work with input ndim > 2"
### Bug Description
When using StructuredDataRegressor with input data dimensions > 2, it throws the following exception:

[code]

### Bug Reproduction
Code for reproducing the bug:

[code]

Data used by the code:

Generated from the code above.

### Expected Behavior
AutoKeras should start with the training.

### Setup Details
Include the details about the versions of:
 - OS type and version:
 -

[2020-07-06 20:43] haifeng-jin commented on #1163
@chyt It seems you are facing multiple bugs while using AutoKeras. It would be great if we can schedule an one hour meeting to help you debug. We can use half of the meeting to debug and half of the meeting for you to answer some of our user study questions. You can join our slack and message me your email address. Thank you!

[2020-07-06 20:48] haifeng-jin commented on #1220
You can use `AutoModel.tuner.get_best_models(3)`

[2020-07-06 20:49] ricwo commented on #1163
@haifeng-jin I'm having the same issue. ak is trying to restore epoch 2, which was not persisted:

[code]
However epoch 2 was not persisted during training:
[code]

Is there anything I can do to help fix this issue?

[2020-07-07 15:51] I-Kryachko commented on #1210
I think that you do not need to fix this by hardcoding the metric that you need in a certan task.

The problem for me was that autokeras could not get correct model checkpoint for epoch because it was looking for a deleted one and that is why i got the error when the trials finished and the final "best model" loop started to loop the best trials.

The deleting algo was described earlier and is in

[2020-07-07 16:07] SivamPillai commented on #1210
Well, I had tried this first but for some reason, it did not work all the time. I still used to get an error some times. Need to figure out why.

[2020-07-07 16:16] #1110 closed

[2020-07-07 21:21] I-Kryachko commented on #1183
I have the same issue with Image Classifier. Also version is 1.0.3. My dataset is like:
[code]

Preprocessor is:
[code]
where `self.resize_to` is call of `tf.image.resize(images=image, size=(sz, sz))`; `self.adjust_pixelwise` is:
[code]
The other code is from Get Started example.
Sometimes it works well but when trials reach something with 'classification_head_1/spatial_reduction_1/reduction_type'

[2020-07-07 23:42] CharlesDove opened #1225 "Horovod multinode: 'TrackableWeightHandler' object has no attribute 'assign'"
Good afternoon! I'm currently working on implementing multi-node GPU training for this project using Horovod. I'm getting through to the end of the first training batch, where horovod throws the following error:
AttributeError: 'TrackableWeightHandler' object has no attribute 'assign'

Does autokeras define its own version of the TrackableWeightHandler, which horovod might not be expecting?
UPDATE

[2020-07-08 05:56] toohsk opened #1226 "Is it possible to re-train a few trials from the latest trial or best model?"
In some restricted resources situations, leaving trials metadata will strain the HDD.
I was wondering if it would be nice to be able to split the process of finding the best model into several parts, even in a restricted resource environment.
As I was imaging after running a few trials, remove all metadata but the most recent ones, and then load it and re-run a few trials again.

What do you think

[2020-07-08 14:40] AxKo opened #1227 "AutoKeras 1.0.4 crashes with (keras-tuner) distributed tuning"
Hi,
I installed the latest AutoKeras (1.0.4) and KerasTuner (1.0.2rc0) on my Windows 10 machine running Python 3.7. Normal use of AutoKeras works fine, but when I try to use the distributed tuning feature of keras-tuner (on the same code) it crashes with an error in update_space() of oracle_client.py (see below).
I wonder if this is a known problem and what I can do to help you fixing it.

Many th

[2020-07-09 08:33] simoncozens opened #1228 "Layer names duplicated with multiple image inputs"
### Bug Description

When multiple ImageBlocks are used in the same model, the layer names they generate are not unique, so the model does not build.

### Bug Reproduction

[code]

### Expected Behavior

The model should build. Instead:

[code]

### Setup Details
Include the details about the versions of:
 - OS type and version: Colab
 - Python: 3.6
 - autokeras: 1.0.3
 - keras-tuner: 1.0.2rc0
 -

[2020-07-10 11:12] naitslup commented on #1091
I still receive that Error with autokeras 1.0.3, with tuner='bayesian'.
As with @MagdyIbrahim87 it occurs after few trials

[2020-07-12 02:13] haifeng-jin commented on #1223
Thanks for the report.
Why would the structured data have more than 2 dimensions?
what are the meanings of each dimension please?

[2020-07-12 02:14] haifeng-jin commented on #1163
@ricwo Are you using overwrite=False? If you let overwrite=True, I think the error would gone.

[2020-07-12 02:15] haifeng-jin commented on #1210
I examined this bug and have the fix in the is PR #1229 .

[2020-07-12 02:16] haifeng-jin commented on #1183
I might because of the `overwrite=False`. Just change it to True may solve the problem.

[2020-07-12 08:21] I-Kryachko commented on #1183
@haifeng-jin
For me issue happens when I start training without interrupting and resuming the process, wothout any previously saved checkpoints. That is why the result is the same with `overwrite=False` or with `overwrite=True`.

[2020-07-12 08:32] I-Kryachko commented on #1208
Same here but not only one epoch, I have 4 trials and training ends with export of a very bad model comparing to previous saved metrics (i do not use validation split and have separate validation tf.dataset).

I train 2 different models at the same time on different gpus and in different project directories. I had low disk space and my processes stopped, but I started them at different time and th

[2020-07-12 10:18] #1032 closed

[2020-07-12 16:43] abdulsam commented on #1220
Throwing an error:
`AttributeError: type object 'AutoModel' has no attribute 'tuner'`

[2020-07-12 17:10] abdulsam commented on #1220
At the same time, how can I export these trained weights of 3 best models?

[2020-07-13 01:50] demangejeremy commented on #1215
Same with me. On MacOS.

[2020-07-13 06:48] ricwo commented on #1163
@haifeng-jin setting `overwrite=False` indeed fixed the issue. Thanks for your help!

[2020-07-13 13:44] sword134 opened #1232 "No longer able to load a model"
### Bug Description
I making a 4 layered LSTM and saving it with the below mentioned code. Whenever I try to load it again it throws me the following error: ValueError: Input 0 is incompatible with layer lstm: expected shape=(None, None, 143), found shape=[None, 150, 147]

### Bug Reproduction
Code for reproducing the bug:

[code]

The code I use to load the model with again:

[code]
The error I g

[2020-07-13 22:27] AlQallaf opened #1234 "Text Classifier: Text Labels are not available after Model is saved and loaded."
I can't seem to find the original Text labels after saving and loading the model; only the encoding of the labels. It would be great if, when saving the model, the original encoding is also exported.

[2020-07-14 09:15] AlQallaf commented on #1234
Found out that Pickiling your model will preserve the text encoding.

import joblib

#save the model
joblib.dump(model, 'model.pkl')

#load the model
model_from_joblib = joblib.load('model.pkl')

import numpy as np
# Use the loaded model to make predictions
model_from_joblib.predict([np.asarray(["your X"], dtype=np.str), -1])

[2020-07-14 09:15] #1234 closed

[2020-07-14 14:04] naitslup opened #1235 "Hyperband Tuner only trains for 2 Epochs"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:

import numpy as np
import autokeras as ak

x_train = np.ones([500,10])
y_train = np.zeros([500])

model = ak.StructuredDataRegressor(tuner='hyperband')
model.fit(x_train, y_train, epochs=100)

Data used by the code:

### Expected Behavior

### Setup Details
Include the details about the versions of:
 - OS type and version: Wi

[2020-07-14 18:33] #964 closed

[2020-07-14 19:24] castrovictor commented on #1183
I'll try with this, if it does not solve the issue, I will notify.

As @I-Kryachko , my issue is starting training from scratch.

And finally, I have to say that the error didn't show up in the last 3-4 trials I made, but I got a run out of memory error. So not sure what's going on with the previous issue.

[2020-07-15 08:55] sunseaandpalms commented on #1163
Is `overwrite=True` not working yet? Any stable solution to continue the seeking/training after being stopped?

[2020-07-15 10:19] alexcombessie commented on #886
Still interested, as I need this feature for integration into Dataiku DSS.

[2020-07-15 13:18] CPUFronz commented on #1223
I originally wanted to use AutoKeras for time-series data. I prepared the date to be fed into a LSTM, so the dimensions are: ```(BATCH_SIZE x WINDOW_SIZE x NUM_FEATURES)```.

[2020-07-15 15:01] castrovictor commented on #1183
Update: I can't even finish a trial, I get an error of running out of memory which disappears if I do not use `overwrite=False`

[2020-07-15 15:57] Karim-53 commented on #973
not fixed yet (v1.0.3)

[2020-07-15 17:16] abdulsam commented on #984
Getting an error `ValueError: Cannot take the length of shape with unknown rank.` on line `clf.fit(train_dataset, epochs=60)`

[2020-07-15 20:33] haifeng-jin commented on #973
@Karim-53 Really? I thought I fixed it.
With autokeras==1.0.3 and keras-tuner=1.0.2rc0, there should not be this bug any more.
What error message are you getting?

Thanks.

[2020-07-15 20:36] haifeng-jin commented on #1183
Thanks everyone!
As I talked to chyt, we don't see this error any more with ak 1.0.3 and kt 1.0.2rc0.
Not sure how to reproduce it. I am running totally fine locally.

[2020-07-15 20:42] I-Kryachko commented on #1183
Sometimes I run ok too. It happens for me at ak 1.0.3 when tuner decides to make certain improvents on get started task. Two tasks which I run one by one do not run the same layers, so sometimes I have error.

[2020-07-15 20:56] haifeng-jin commented on #1208
@I-Kryachko It seems you are experiencing multiple bugs while using AutoKeras.
We would like to schedule a video call with you to see if we can help you solve the problems.
And we also have some questions about your experience in using AutoKeras.
Would you like to do it? You can ping me on slack. https://autokeras.com/#community

[2020-07-15 20:57] #1208 closed

[2020-07-15 23:33] iwidodo commented on #1210
Hmm I tried pip installing using the .git link today but it still seems to have the same issue. Is the fix coming in a future version?

[2020-07-16 00:44] takeofuture commented on #925
So ObjectDetection models eventually supported, (I am not talking about pretrained_model,  I assume it is not the job for autokeras as AutoML which automatically search and find candidates for the models based on given data).
I am assuming given training dat asimilar like COCO or so (class label + (x, y, h, w) ) * xxx, then it find the good model for object detection automatically.  Any update so

[2020-07-16 00:47] takeofuture opened #1236 "Support for finding Training models for Object Detecton"
I see another issue thread which has been already closed.

So objectDetection models eventually supported, (I am not talking about pretrained model, I assume it is not the job for autokeras as AutoML as it main objective is to automatically search and find candidates for the models based on given data).
I am assuming given training dat asimilar like COCO or so (class label + (x, y, h, w) ) * xxx,

[2020-07-16 03:06] FontTian opened #1238 "How use multiple gpu?"
### Feature Description
I want to use a single machine with multiple gpu for training, but it seems to have no actual effect### Code Example

[code]

### Reason
Speed up the calculation of toxins

### Solution

[2020-07-16 08:25] Karim-53 commented on #973
Yes, the bug is still there. We tried with 2 different computers.

**To reproduce the error:**
run a very basic example: https://autokeras.com/tutorial/structured_data_regression/

The error might happen (or not). If not then

run these lines once again:
[code]
in the second run, the error always happen:
``Unresolved object in checkpoint``

As you can see, many people are already complaining about

[2020-07-16 11:30] abdulsam commented on #999
I'm getting the same error while loading the model:
`WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.`

and after `model.fit(x_train, y_train, epoch=20)`
I'm getting the following error:

`ValueError: in user code:

    /usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/training.py:571 train_

[2020-07-16 15:37] haifeng-jin commented on #1220
@abdulsam You can use a for loop to do so.
[code]

[2020-07-16 15:40] haifeng-jin commented on #1215
Currently, I can only reproduce it by not setting `overwrite` which by default is set to False.
It is caused by not properly saving the oracle and tuner.
The linked PR solves this problem.
Will be merged soon.

[2020-07-16 15:44] haifeng-jin commented on #1232
It seems it is caused by an incompatible input shape.
You may need to preprocess the input data a little bit to match the shape.
To ensure you preprocess the data properly,
you can always try to convert it to a tf.data.Dataset and see its shape.
[code]

[2020-07-16 15:46] haifeng-jin commented on #1235
Yes, that is the property of the hyperband tuner.
It use successive halving which only train the models for less epochs at first and select the good ones and further train.

[2020-07-16 16:23] haifeng-jin opened #1239 "The inserted early-stopping is not using objective bug 'val_loss' always"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:

Data used by the code:

### Expected Behavior

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python:
 - autokeras:
 - keras-tuner:
 - scikit-learn:
 - numpy:
 - pandas:
 - tensorflow:

### Additional context

[2020-07-17 10:27] sword134 commented on #1232
I preprocess my input data with the exact same (copy paste) code as in my model calculation. I even included it in the ticket above. It used to work a few weeks ago but for some reason it has stopped working, even though I haven't touched the code.

[2020-07-17 11:53] abdulsam commented on #1103
Any updates to this issue?

[2020-07-17 15:27] cordeirojoao commented on #1109
Meanwhile I was able to set Automodel with CNN block. Please find the code below.
Hope it can be usefull for you :)

Note: at this point I ws using autokeras: 1.0.3 and  Tensorflow: 2.2.0
[code]

[2020-07-17 15:28] #1109 closed

[2020-07-17 16:25] sword134 opened #1241 "Model crashes on classifier.evaluate"
### Bug Description
My LSTM model crashes upon reaching the classifier.evaluate part, thus rendering all of the training a waste of time.

### Bug Reproduction
[code]

The error message:

[code]

### Setup Details
Include the details about the versions of:
-OS type and version:
-Python: 3.6.10
-autokeras: 1.0.3
-keras-tuner: latest
-scikit-learn: 0.23.1
-numpy: 1.18.5
-pandas: 1.0.5
-tensorflow: 2

[2020-07-17 17:08] ruiapimenta commented on #984
same error here...

[2020-07-17 18:07] abdulsam commented on #1220
@haifeng-jin While loading the saved models, it is giving a warning
`WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.`

I ignored this warning because I can train it again. But while using fit() method on the loaded model, it is showing this error:
`ValueError: Shapes (None, 1) and (None, 10) are incompatible`

[2020-07-17 20:52] #1183 closed

[2020-07-18 14:08] cibic89 commented on #984
@haifeng-jin  Can I contribute a tutorial for using an image generator with AutoKeras?

[2020-07-18 22:14] dahlo commented on #1183
Can confirm working. Running ~30 instances i would get about 1 crash per hour with the KeyError. I have now run over 24h and not a single crash. Running autokeras 7db2afd and keras-tuner fa84eb2.

[2020-07-19 16:10] castrovictor commented on #1183
@dahlo would you mind posting your configuration? Installing the versions you mention I get this error:

ImportError: dlopen: cannot load any more object with static TLS
___________________________________________________________________________
Contents of /mnt/sdd/vicastro/envs/ak4/lib/python3.8/site-packages/sklearn/__check_build:
__pycache__               setup.py                  _check_build

[2020-07-19 21:13] dahlo commented on #1183
@castrovictor Sure thing. I'm running using the following Dockerfile:

`FROM nvidia/cuda:10.1-cudnn7-devel-ubuntu18.04

# install apt packages
RUN apt update && apt upgrade -y && apt install -y \
        curl \
        git \
        python3 \
        python3-pip \
        vim \
        wget

# install pip packages
RUN pip3 install --no-cache-dir -U pip
RUN pip3 install --no-cache-dir -U setuptools

[2020-07-20 03:49] haifeng-jin commented on #1163
We have fixed the problem in the master branch. You can use the master branch with keras-tuner 1.0.2rc1 tag.

[2020-07-20 03:51] haifeng-jin commented on #886
We still haven't got the chance to work on this feature yet. We are likely to have a `get_config()` which follows the Keras APIs.

[2020-07-20 03:52] haifeng-jin commented on #1223
Cool, we have a time-series in the master branch actually, but we did not expose it since we haven't fully tested the performance yet.

[2020-07-20 03:53] haifeng-jin commented on #1210
Yes, this will be in a future version. However, you can use it in the master branch now.

[2020-07-20 03:54] haifeng-jin commented on #925
We are really trying hard to reach this feature. This will be the next one after we have time-series, and segmentation. Of course, we will focus on the performance on existing tasks and fixing important bugs even before those.

[2020-07-20 03:58] haifeng-jin commented on #1238
I think this is supported in Keras-Tuner's Tuner class. AutoKeras supports all args in Tuner class.
You can pass `distribution_strategy` to any model you use in AutoKeras.
The details you can find on this page: https://keras-team.github.io/keras-tuner/documentation/tuners/

[2020-07-20 11:24] CPUFronz commented on #1223
That's great news! :smiley:

[2020-07-20 15:12] Goreg12345 commented on #1215
Hi there,
I installed the current version of the master with `pip install git+https://github.com/keras-team/autokeras.git@master`. However, i still get the same error.

    OS type and version: Windows 10
    Python: 3.7
    autokeras: 1.0.4.dev0
    keras-tuner: 1.0.2rc0
    tensorflow: 2.2.0 no GPU used

[2020-07-21 13:14] FontTian commented on #1238
emmm,I find it

and I ran the following code, but an error appeared.

[code]

[2020-07-21 15:24] haifeng-jin commented on #973
@Karim-53 Thank you for the reply.
I just tried.
The solution is a little bit tricky.
This code runs fine. You can use it as a reference.
[code]

[2020-07-21 15:26] haifeng-jin commented on #999
I think it mainly because of the categorical encoding? would you paste your code?

[2020-07-21 15:51] haifeng-jin commented on #1103
I tried the tutorial on colab and added the line of export_model, which runs fine. Not sure how to reproduce the error.

[2020-07-21 17:09] takeofuture commented on #1103
I think This issue opened log time ago(TF=2.1.0), and I assume that it has been fixed in the new version.
The installation has been also modified and I assume you installed autokeras like
pip3 install git+https://github.com/keras-team/keras-tuner.git@1.0.2rc0
pip3 install autokeras==1.0.3

not just like
pip install autokeras
(Right now this does not work unless you install TF==2.1 instead of TF==2

[2020-07-21 19:44] haifeng-jin commented on #1220
I guess it is because of the label encoding? We do a one-hot encoding for the labels under the hood.

[2020-07-21 19:46] haifeng-jin commented on #984
@cibic89 Yes. Thank you! Please put it in this folder https://github.com/keras-team/autokeras/tree/master/docs/py
You may also try to run your code in colab to make sure it works.

[2020-07-21 19:48] haifeng-jin commented on #984
@abdulsam Hi Abdus, it seems you have encountered a lot of issues. Can we setup a call to help you resolve the issues? You can also help us answer some of our user study questions and provide your feedback. You can reach me on slack. Thank you!

[2020-07-21 19:52] mreismendes commented on #1215
I have the same issue as well!

[2020-07-21 20:29] haifeng-jin commented on #1215
I really cannot reproduce the error. It would be great if you can share a colab notebook. Thank you!

[2020-07-21 20:33] haifeng-jin commented on #1238
We didn't fully test this feature with AutoKeras yet. You may try pass one more arg `tuner='random'`. If the error still exists, you may try a basic example with KerasTuner to see if it is a KerasTuner issue. Thanks.

[2020-07-22 08:12] SoYoungCho commented on #946
Having the same problem. Any suggestions?

[2020-07-22 22:36] leandroimail opened #1246 "I can not use the method predict on keras model (AutoModel.export_model()) with categorical features"
### Bug Description
When I use the StructuredDataClassifier and I export the model by export_model, I can not use the predict method - model.predict(test_data.to_numpy()) --, because the Keras model can not handle with categorical features. I believe that export_model does not add in the pipeline model the preprocess routine to treat the categorical features.

The error presented is: "ValueError:

[2020-07-22 23:41] #1118 closed

[2020-07-23 12:03] mreismendes commented on #1215
https://colab.research.google.com/drive/1H-i0Y6QZRGyvNaprHHSUoeHRDO6z9O59?usp=sharing

[2020-07-23 16:03] alexcombessie commented on #867
Hi there,
Hope all is well. Any update on this topic?
Cheers,
Alex

[2020-07-23 16:54] takeofuture opened #1247 "How does AutoKeras select Models?"
### Question
I have tested Image Classifier with MNIST with 60000 Training Data + 10000 Validation Data
and I got one model.

Then I reduced MNIST training data 6000 and test data 1000, then I still get
the exactly the same model as 60,000 + 10,000 data

I tried fashion_mnist (60000 + 10000 , (28,28)
But I got still exactly the same model selected

How does Autokeras Image Classifier search and se

[2020-07-23 21:14] haifeng-jin commented on #946
@SoYoungCho This is a rather old issue. I believe it has been fixed already. Are you using AutoKeras 1.0.4 with Keras Tuner 1.0.2rc1? Thanks.

[2020-07-23 21:18] haifeng-jin commented on #1246
The prerprocess steps are using preprocessing layers of Keras, it should be part of the model. Would you paste your model.summary()?
I guess it might be cause of the format of the training data.
We use np.unicode for the data.

[2020-07-23 21:18] haifeng-jin commented on #1215
@mreismendes Thank you so much! will get to it right away.

[2020-07-23 22:36] leandroimail commented on #1246
Thank you @haifeng-jin  for your response.
When I put np.unicode this works to me. But I believe that is important to use the original type of numpy, or perhaps, you can put this transformation within the preprocess. This is only an idea/suggestion.
Again, thank you for your help!
Bellow, I put the de model.summary()

----------------------
model.summary()
Model: "model"
__________________________

[2020-07-24 00:46] SoYoungCho commented on #946
Problem solved. I did use AutoKeras 1.0.4 with Keras Tuner 1.0.2rc1, but the problem was overfitting. Randomly shuffling the dataset solved my issue. Thanks!

[2020-07-24 07:17] mdturp commented on #1246
Similar Issue here with the `StructuredDataRegessor`

[2020-07-24 09:24] SoYoungCho opened #1248 "How is best model selected and why is there a difference in evaluate() and loaded model result?"
Hi, thanks for the awesome open source.
I am training a multi-classification model on bearing machine data,
and I've achieved about 97% on training accuracy and 80% test accuracy.

So the first question is, the test accuracy is achieved by using clf.evaluate(), and I want to know which model is used in this evaluate() function. Is the best model used in this function? And also how is this best mod

[2020-07-24 21:53] haifeng-jin commented on #923
It is fixed in the latest release.

[2020-07-24 21:53] #923 closed

[2020-07-25 00:18] haifeng-jin commented on #1215
@mreismendes I have the fix in the Pull request now. I tried it works.
You can install with the following command and your notebook runs fine.
[code]

[2020-07-25 10:16] castrovictor opened #1250 "ImageClassifier missing checkpoint leads to saving model error"
### Bug Description
After fitting a model with ImageClassifier, I can't export the model because it is missing a checkpoint. I have checked the image_classifier folder generated and it's true, it is trying to save a checkpoint that is not there. So it is not an issue about wrong paths.

### Bug Error Message

[code]

And as you can see:

[code]

It is like it is designed to save 10 the last 10 epo

[2020-07-25 13:57] mreismendes commented on #1215
Thank you! It's working flawlessly!

[2020-07-25 21:57] jacobswain commented on #1163
I'm on 1.0.2rc1 and I'm getting the same error

[2020-07-25 22:35] #1215 closed

[2020-07-25 22:36] haifeng-jin commented on #1215
It is in the master now.

[2020-07-26 02:34] #1138 closed

[2020-07-26 18:34] #1106 closed

[2020-07-26 19:08] ceesroele commented on #1250
I encountered the same issue. Of course, it means that the best performance against the metric was not in the last ten epochs. Should there not be an early stopping in such a case?

[2020-07-27 04:02] ChanChiChoi commented on #1250
https://github.com/keras-team/autokeras/issues/1210
will be helpful, now, a simply way is comment out the delete portion

[2020-07-27 10:42] castrovictor commented on #1250
Not sure what it is saving because they are not the last 10 epochs and I have no way to know if they are the "10 best epochs"

[2020-07-27 10:53] castrovictor commented on #1250
Thank you for the link. Indeed, the issue discussed is the same, I didn't notice it.

Anyway, according to @haifeng-jin it should be fixed in the last version, 1.0.4, but turns out it's not.

[2020-07-28 02:31] haifeng-jin commented on #1215
It is in the latest release 1.0.5 now.

[2020-07-28 02:32] haifeng-jin commented on #1215
@mreismendes Would you like to do a video call with us to help us improve AutoKeras? We are also happy to answer any questions you have. You can ping me on Slack to setup the call. Thank you.

[2020-07-28 03:32] haifeng-jin commented on #1250
@castrovictor We have fixed another bug that causes the checkpoint not found issue in 1.0.5. I believe the bug should be fixed. Let me know if it doesn't. remember to update to TF 2.3.0 Thanks.

[2020-07-28 03:34] haifeng-jin commented on #1163
We have just had a new release 1.0.5. I expect use it with TF 2.3.0 can fix the bug. We have fixed another bug in that might cause the problem so it should work this time.

[2020-07-28 03:36] haifeng-jin commented on #867
I am working on it. It seems it is a bug that it always use val_loss as objective.

[2020-07-28 05:57] haifeng-jin commented on #867
This snippet works for me.

[code]

[2020-07-28 06:31] #867 closed

[2020-07-28 06:33] haifeng-jin commented on #867
https://autokeras.com/tutorial/faq/
It is now on the official website.

[2020-07-28 06:35] #1239 closed

[2020-07-28 06:59] alexcombessie commented on #867
Excellent! Thanks!

[2020-07-28 07:05] #1179 closed

[2020-07-28 07:08] haifeng-jin commented on #1179
This problem is fixed in the latest release. 1.0.5

[2020-07-28 07:10] #1171 closed

[2020-07-28 07:11] haifeng-jin commented on #1027
This bug is fixed with the latest release 1.0.5.

[2020-07-28 07:11] #1027 closed

[2020-07-28 07:13] haifeng-jin commented on #1236
duplicate of #925

[2020-07-28 07:13] #1236 closed

[2020-07-28 07:14] haifeng-jin commented on #80
Use #925 to track the progress.

[2020-07-28 07:14] haifeng-jin commented on #915
duplicate of #925

[2020-07-28 07:14] #915 closed

[2020-07-28 07:16] #408 closed

[2020-07-28 07:41] #1248 closed

[2020-07-29 00:52] ywtaccelerator commented on #867
Hi, I guess we should let the "direction" be 'max', right?

[2020-07-29 07:47] haifeng-jin commented on #867
@ywtaccelerator Yes, you are right. Would you help us change the faq in this file? Thank you!
https://github.com/keras-team/autokeras/blob/master/docs/templates/tutorial/faq.md

[2020-07-29 14:15] ywtaccelerator commented on #867
@haifeng-jin Of course, I would love to help! But I found there are some other problems when using customized metrics (e.g. the way above we use f1_score) to select the best model, and I guess it would better to address them first before updating the FAQ:

(1) After the fitting process using the above code and exporting the model by:

then there will be an error "ValueError: Unknown metric functio

[2020-07-29 16:21] haifeng-jin commented on #867
For the first one, you got the right solution. For the second one, I think it is a big. Would you file a separate issue about it? Name it "resume fails with custom objective". Thank you!

[2020-07-29 20:25] ywtaccelerator opened #1257 "Resumption fails with custom objective"
### Bug Description

I have tried to use customized metrics (e.g., using f1-score) to select the best model, but I found I cannot resume a previously finished (or killed) run by running the same code again (as described in https://autokeras.com/tutorial/faq/, as long as the "overwrite" argument of AutoModel is set to False (which is by default), running the same code again will continue the previo

[2020-07-29 20:28] dcohron opened #1258 "On model.fit, at Starting New Trial include trial number"
I hope that this would be easy to implement.  When training a model, in the output along with "Starting new trial" include the trial number which would count up to the "max_trials" parameter passed in the model definition.  Would look like "Starting new trial- #1/50" and increment up to the max-trials (in this case 50).

This would allow monitoring of the progress of the training, just like the ou

[2020-07-29 20:38] ywtaccelerator commented on #867
@haifeng-jin Thank you for your reply, I have filed a separate issue https://github.com/keras-team/autokeras/issues/1257 named "Resumption fails with custom objective", please feel free to let me know if you need any additional information, I hope we can find a solution soon, thanks!

[2020-07-29 23:31] mreismendes commented on #1215
For sure! I'll try to get in touch with you! Thank you!

[2020-07-30 20:59] KeikiHekili opened #1261 "tuner.get_best_models crash"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:

[code]

[code]

Data used by the code:

### Expected Behavior

### Setup Details
Include the details about the versions of:
 - OS type and version: OSX 10.13.6
 - Python: 3.0.7
 - autokeras: 1.0.5
 - keras-tuner: 1.0.2rc1
 - scikit-learn: 0.22.2.post1
 - numpy: 1.19.0
 - pandas: 1.0.1
 - tensorflow: 2.3.0

### Additional cont

[2020-07-31 09:02] hughpearse opened #1262 "model.fit is quick at first - very slow in subsequent trials"
# Bug Description
With a configuration of 2 trials and 1 epoch, model training takes approximately 60s per epoch on the first trial. Then on the second trial the estimated time jumps from 1 minute per epoch to 3 hours per epoch. This was also observed with a configuration of 1 trial and 1 epoch when the trial is executed successfully (in Jupyter notebook) and then started again.

If I was to guess

[2020-07-31 16:54] AnSmithD commented on #1238
Hello,
got the same issue. I am specifying 4 GPUs (out of 8) to train the current model in a distributed fashion, using `tf.distribute.MirroredStrategy( )` since `tf.keras.utils.multi_gpu_model( )` is deprecated and removed since april 2020.

When doing:

[code]
only one single GPU is doing all the computations, the other three remain idle. When following @FontTian and inserting distribution_strat

[2020-08-02 01:20] KeikiHekili commented on #1261
In looking at a few runs of this snippet, it looks like there is an off-by-1 error somewhere in the model loading procedure. Consistently, I see that if it is epoch X that is supposed to be loaded, and there is no checkpoint at epoch X, there is a checkpoint at epoch X+1

[2020-08-04 22:30] haifeng-jin commented on #1258
I believe this would be a feature in Keras Tuner. The prints are there.

[2020-08-04 22:31] haifeng-jin commented on #1262
This is as expected. We try very different models in the first several trials to quickly locate the models suitable for the dataset. The second model is much larger than the first one.

[2020-08-04 22:34] haifeng-jin commented on #1238
@AnSmithD Thank you for your report. I believe this is a very important bug we need to track down. Would you like to setup a call with us to talk about it? I believe this would be the fastest way to solve it. Please reach me on Slack if you would like to do so. Thank you!

[2020-08-05 06:14] StuartIanNaylor commented on #1095
@haifeng-jin Apols but tried the above

pip3 install tensorflow==2.2.0 but still

[code]
Ubuntu 20.04

[2020-08-06 19:56] dcohron commented on #1258
Ah, thank you much.

[2020-08-06 19:56] #1258 closed

[2020-08-08 19:32] #890 closed

[2020-08-11 01:59] #704 closed

[2020-08-12 11:13] castrovictor commented on #1250
@haifeng-jin sorry for the late response, I was on vacation. I can't update to tf 2.3.0 because I have to wait until conda updates it. I will try it once it's possible. Currently using 1.0.4 with this [workaround](https://github.com/keras-team/autokeras/issues/1210#issuecomment-654956430)

[2020-08-12 22:00] CuriousSingularity opened #1276 "where can I find the cost function and loss function in the code from AutoKeras technical paper?"
I am trying to work on the low levels of the Autokeras. I would like to know where is the cost function and loss function defined in the code which were defined as the problem statements in the Autokeras technical paper.
And also where are the metrics passed to the Bayesian Optimization for tuning.

Could anyone direct me in the code. Thank you so much.

[2020-08-13 06:07] yoo817 commented on #958
I have the same problem. Have you solved it yet?

[2020-08-13 15:18] lucasbissaro commented on #98
I had this problem and found out that my file was named autokeras.py, so when I imported the lib, I was actually importing my own file. Changing the file name solved the problem.

[2020-08-13 19:45] borisRa opened #1277 "Multiple inputs"
### Feature Description

To be able to get multiple network inputs

### Code Example

[code]

### Reason

### Solution

[2020-08-14 15:34] ywtaccelerator commented on #1257
Hi, I have come up with a simple workaround for this bug and it seems to work well for me these days:

Using custom object scope:
Import
`from tensorflow.keras.utils import CustomObjectScope`
and add
`with CustomObjectScope({'f1_score': f1_score}):`
before initializing the classifier, so the whole above code snippet will be:

[code]

So after running the above code, letting "max_trials=5" in Image

[2020-08-14 15:35] ywtaccelerator commented on #1238
Hi, is there any update on this topic? Is there currently a workaround to make use of multiple GPUs?

[2020-08-15 07:45] haifeng-jin commented on #1257
@ywtaccelerator Thank you! I think the solution is similar to the one in FAQ on our website, right?

[2020-08-15 07:48] haifeng-jin commented on #1238
@ywtaccelerator  I am working on another issue related to the tuner right now. Will get to this one right afterwards. Thanks

[2020-08-15 16:09] ywtaccelerator commented on #1257
@haifeng-jin Sorry but I did not find a solution to resuming a previously finished (or killed) run when a custom objective was used  in [the website of AutoKeras](https://autokeras.com/), my solution above is just a workaround to this problem and I have not fully tested it yet, if there is an official workaround to this bug, could you give a link to the solution you mentioned? Thanks!

[2020-08-15 16:47] haifeng-jin commented on #1257
The solution is here. The same as yours.
https://autokeras.com/tutorial/faq/

[2020-08-15 19:54] ywtaccelerator commented on #1257
@haifeng-jin Sorry, I think you misunderstood my discription of the bug. I have seen [this page](https://autokeras.com/tutorial/faq/) before I filed this issue and till now there is no change in this page, with autokeras==1.0.5, following my steps for reproducing the bug, the bug can still be reproduced, and my code for reproducing the bug exactly follows the discription in the [FAQ](https://autok

[2020-08-15 19:57] haifeng-jin commented on #1257
Got u! I will get to this one after the multi GPU issue solved.

[2020-08-15 20:14] ywtaccelerator commented on #1257
@haifeng-jin Thank you! The multi GPU issue has been my biggest headache for days, although I know there must be some more important issues for you to solve first :)

[2020-08-15 20:21] ywtaccelerator commented on #1238
@haifeng-jin Thank you! Looking forward to the solving of this issue, I really appreciate your work in AutoKeras.

[2020-08-15 22:37] haifeng-jin commented on #916
The weight sharing may negatively impact the performance like using pretrained models but tuning learning rate.

[2020-08-15 22:37] #916 closed

[2020-08-15 22:54] #1150 closed

[2020-08-15 22:59] #782 closed

[2020-08-15 23:02] #714 closed

[2020-08-15 23:02] #673 closed

[2020-08-15 23:02] #668 closed

[2020-08-15 23:02] #897 closed

[2020-08-15 23:03] haifeng-jin opened #1281 "TimeseriesForecaster support search the way it slices data."

[2020-08-15 23:03] haifeng-jin opened #1282 "TimeseriesForecaster support categorical encoding."

[2020-08-16 00:15] haifeng-jin commented on #1276
You need to checkout the 0.4 version and lower. There is a bayesian optimization implemented. You can find the loss there. The 1.0+ is not following the paper anymore.

[2020-08-16 00:17] haifeng-jin commented on #1277
I think this example should work in 1.0.5. Which version are you using now? Thanks.

[2020-08-16 07:32] toohsk opened #1283 "Good performance with iris dataset"
For issue https://github.com/keras-team/autokeras/issues/1219, I've tested the iris dataset and confirmed the autokeras model could get good performance with it.
Please see my [gist](https://gist.github.com/toohsk/5616cc0d66d56d90e0c351de6aa608f1) for the performance.

Is the performance good enough to add in the [Examples in the document](https://autokeras.com/examples/mnist/) or listed up in the

[2020-08-16 08:06] borisRa commented on #1277
The version is 1.0.5

[2020-08-16 20:27] manmeet3591 commented on #820
This worked for me. Thanks.

[2020-08-17 06:09] mandalbiswadip commented on #1219
@haifeng-jin Can I take up few of the datasets from the list and work on them? Let me know which ones are yet to be tested out.

[2020-08-17 23:40] #1238 closed

[2020-08-17 23:41] haifeng-jin commented on #1238
@FontTian @ywtaccelerator @AnSmithD This bug is fixed in master branch. Please refer to #1285 for fixing details. Thanks.

[2020-08-18 01:27] #1045 closed

[2020-08-18 03:05] haifeng-jin commented on #1283
Thank you! You can just pull request to the examples folder with a .py file, which has the same content as your gist.
You can also comment on the 1219 issue with the corresponding fields. I will add it to the table.

[2020-08-18 03:08] haifeng-jin commented on #1219
@mandalbiswadip Would you help us test the Wine dataset? Thank you!

[2020-08-18 03:13] haifeng-jin opened #1286 "Clean up the verbosity of AutoKeras"

[2020-08-18 14:13] WilliamJudge94 opened #1288 "Streamline Setup.py File"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:
git clone the repo on August 18, 2020

python setup.py install

(Failed) import autokeras as ak

### Expected Behavior

### Setup Details
Include the details about the versions of:
Brand new conda environment on python==3.7

### Additional context

[2020-08-18 14:27] WilliamJudge94 opened #1289 "Allow Users To Pre-Download Architectures"
### Feature Description

Allow Users to pre-download your model architectures. Computational nodes usually don't have direct access to internet to download these packages on the fly.

### Code Example

git clone repo with pre-downloaded architectures
set the directory of this repo in the AutoKeras module somewhere

### Reason
Most high computational resources nodes have one login node with interne

[2020-08-18 22:32] CuriousSingularity commented on #1276
Thanks for the reply. I got what I was looking for.

[2020-08-18 22:32] #1276 closed

[2020-08-18 22:35] CuriousSingularity opened #1290 "Start Autokeras with a known weights"
Is it possible to start Autokeras to search for a better Architecture from a known model / weights?

[2020-08-19 00:44] CuriousSingularity opened #1291 "Checkpoint save : tensorflow.python.framework.errors_impl.ResourceExhaustedError: disk quota exceeded [Op:SaveV2]"
### Bug Description

### Bug Reproduction
Code for reproducing the bug:

Data used by the code:

### Expected Behavior

### Setup Details
Include the details about the versions of:
 - OS type and version:
 - Python: 3.7.7
 - autokeras: master
 - keras-tuner: master
 - scikit-learn:0.22.2
 - numpy:1.18.3
 - pandas:1.0.3
 - tensorflow:2.3.0

### Additional context

[2020-08-19 01:18] haifeng-jin commented on #1257
I think this issue is already resolved as we update the greedy tuner. It is caused by loading the hypermodel. Now we don't load the hypermodel anymore when loading the oracle.

[2020-08-19 01:18] #1257 closed

[2020-08-19 06:04] #1062 closed

[2020-08-19 06:04] #1081 closed

[2020-08-19 16:24] #1123 closed

[2020-08-20 08:07] GuileCyclone commented on #984
@haifeng-jin May tensorflow.keras.utils.Sequence be another way to support generator? It's just like torch.Dataset class, and may be easy to apply in code.

[2020-08-20 08:11] #1101 closed

[2020-08-20 09:46] ywtaccelerator commented on #1238
@haifeng-jin Thank you very much for your effort and fixing it quickly, but unfortunately it still does not work for me. I have installed AutoKeras from the master branch and ak.__version__ shows its version is 1.0.7, but neither running the Simple Example [here](https://autokeras.com/tutorial/image_classification/) directly, nor trying the ways mentioned above in this page, could make use of mult

[2020-08-20 10:18] ywtaccelerator commented on #1257
@haifeng-jin Yes, after I installed AutoKeras from the master branch (ak.version shows its version is 1.0.7), the code snippet above works well and a previously finished (or killed) run can be resumed. Thank you very much for your effort!

[2020-08-20 12:25] AnSmithD commented on #1238
@ywtaccelerator Have you tried uninstalling autokeras and keras-tuner first? And then reinstalling keras-tuner directly via `pip3 install git+https://github.com/keras-team/keras-tuner.git` and **only afterwards** installing autokeras from the master branch?

@haifeng-jin 's fix is working for me (after above described procedure) but unfortunately, it does not seem to result in any performance gain

[2020-08-20 15:13] toohsk commented on #1283
Got it!
First, I'll try from adding .py file and send it as a pull request 👍

[2020-08-20 17:55] haifeng-jin commented on #1238
The solution is also added to the FAQ here:
http://127.0.0.1:8000/tutorial/faq/#how-to-use-multiple-gpus

[2020-08-20 19:48] haifeng-jin commented on #1288
Hi @WilliamJudge94 , Thank you for the report.
I am not very familiar with conda and setup.py.
We can install it with pip fine.

I think tf 2.3 is already in setup.py.
Is there a way to add a git+https to setup.py? Thanks.

[2020-08-20 19:50] haifeng-jin commented on #1290
We are actually supporting it in the latest release. The ResNetBlock and XceptionBlock all have a hyperparam called pretrained to control it.

[2020-08-20 19:52] haifeng-jin commented on #1291
I believe this is caused by checking points are using up the disk space.
So we may consider to save less number of checking points in Keras Tuner.
So I am transferring the issue to Keras Tuner.

[2020-08-20 19:54] haifeng-jin commented on #984
@GuileCyclone Thank you! I will look that up.

[2020-08-20 20:10] WilliamJudge94 commented on #1288
true tf 2.3.0 is installed with pip, but not the tensorflow-gpu version

You can add these dependencies to the setup.py file by replacing your current install_requires=[ ] to

    install_requires=[
        'packaging',
        'tensorflow-gpu>=2.3.0', # Changed this to the gpu version
        'scikit-learn',
        'pandas',
        'absl-py', # Needed for something in either AutoKeras or Tensor

[2020-08-20 20:43] haifeng-jin commented on #1288
The feature for using `git+` in setup.py is deprecated by pypi.
So I believe we have to wait until the next stable release of Keras Tuner.

For tensorflow-gpu, we actually don't need it. Now `tensorflow` package can work on GPU.

We will look into the absl-py to figure out the problem.

Thank you!

[2020-08-21 03:22] zhulingchen opened #1294 "AutoKeras version compatibility with TensorFlow"
I would like to have a compatibility list of versions of AutoKeras versus TensorFlow.

Like which version of TensorFlow was AutoKeras 1.0.0 has been tested against; which version of TensorFlow as AutoKeras 1.0.1 has been tested against, etc.?

It would be great if there is a version comparison table, similar to the table of TensorFlow version versus CUDA version as below:

Version | Python version

[2020-08-21 04:47] toohsk commented on #1219
@haifeng-jin
As you commented in the previous issue #1283, I created a pull request.
Would you review and merge it?
Thanks.

[2020-08-21 06:24] Lucgald opened #1296 "ImportError: cannot import name 'image_preprocessing' from tensorflow.python.keras.layers.preprocessing import image_preprocessing as image_ops"
I tried to run autokeras and was hit with the error message upon import autokeras:

from tensorflow.python.keras.layers.preprocessing import image_preprocessing as image_ops
ImportError: cannot import name 'image_preprocessing'

I am currently on:

Keras: 2.2.4
Tensorflow: 2.1.0
OS: Windows 10

Thank you for your help

[2020-08-21 21:01] gautambak opened #1298 "Autokeras slow to start for large dataset?"
Hi there,

I'm playing with autokeras and tried to apply the tutorial to my dataset. It's just not running for a large dataset.

The shape of my initial sample is- (100000, 112).

Then I run the block of code in the tutorial(changing 'price' to 'value):
[code]

I've waited over a hour and nothing has happened. When I try this on the tutorial dataset it runs fairly quickly. I've also tried cpu, gpu

[2020-08-22 13:27] Deliner opened #1299 "KeyError: 'image_block_1/xception_block_1/trainable'"
### Bug Description
I've ran the ImageClassifier for 100 trials. Some times there were some downloads.
And after one the generator couldn't produce valid networks because of error.
It was after +-25 trials.

[code]

### Bug Reproduction
[code]
Data used by the code:
There are images 128x128 divided in 13 classes
### Expected Behavior
There shouldn't be KeyError

### Setup Details
Include the detai

[2020-08-23 01:14] #1299 closed, assigned to nobody

[2020-08-23 17:34] gautambak opened #1303 "Report of all attempts?"
Hi there,

I am loving autokeras. Been playing with it all weekend and it's really cool!

I wanted to use to as a learning tool to understand the behavior/results of different network architectures on my dataset so I was wondering if it was possible to get a export of all networks and their results. Is that possible or is the best network replaced when a new one beats it?

Thanks again for all the

[2020-08-24 01:39] toohsk commented on #1219
Can I try [`Reuters` dataset](https://keras.io/ja/datasets/#_5)?
Or are there any prioritized dataset? @haifeng-jin

[2020-08-24 14:20] zhulingchen commented on #1294
That would be a little bit too ambitious.

To be more specific, which version of autokeras would have no issue with TensorFlow 2.1.0? 1.0.0?

[2020-08-24 17:47] haifeng-jin opened #1307 "Remove titanic fixture from the repo"
Please follow the style of how the wine example downloads the datasets to remove the usages of titanic fixtures in the /tests directory.
Just replace these two lines should be good enough.
https://github.com/keras-team/autokeras/blob/master/tests/utils.py#L45-L46

Refer to these 4 lines for how to get the paths.
https://github.com/keras-team/autokeras/blob/master/docs/py/structured_data_classifica

[2020-08-24 17:49] haifeng-jin commented on #1307
@mandalbiswadip Would you like to take this one?

[2020-08-24 18:04] mandalbiswadip commented on #1307
@haifeng-jin sure. Will take this up.

[2020-08-24 18:49] knorthover opened #1308 "Docker Image errors on mnist dataset"
### Bug Description

The mnist demonstration fails with the latest docker image.  According to DockerHub the latest build is six months old.

Run output is:

[code]

### Bug Reproduction
Code for reproducing the bug (from https://autokeras.com/docker/):

[code]
Where hostDir is a path on windows:  C:\Users\knorthover\Desktop

Data used by the code:

### Expected Behavior

### Setup Details
Include

[2020-08-25 18:01] spamz23 opened #1311 "Can't re-fit or make predictions on keras functional model after loading it"
### Bug Description

After I use autokeras to search for an optimal model I export it and save it. Then after loading it, I can't `predict()` to make predictions or `fit()` to retrain the model. Both methods give the same error:
`UnimplementedError:  Cast float to string is not supported
	 [[node functional_1/Cast (defined at <ipython-input-8-4b9d4ec3c8be>:5) ]] [Op:__inference_train_function_1707

[2020-08-25 20:17] spamz23 commented on #1180
This bug still exists:
`clf = ak.AutoModel(ak.Input(),ak.ClassificationHead(num_classes=2))`
ouputs:
[code]

OS type and version: Google colab
Python: 3.6
autokeras: 1.0.7
keras-tuner: 1.0.2rc1
scikit-learn: 0.22.2.post1
numpy: 1.18.5
pandas: 1.0.5
tensorflow: 2.3.0

[2020-08-25 22:25] #1126 closed

[2020-08-26 08:42] haifeng-jin commented on #1219
@toohsk Yes, please. Thank you! I think it is good to try these Keras dataset first.

[2020-08-26 23:47] ciessielski commented on #959
I have the same error as @maxmarketit. @haifeng-jin do you have any idea why it happens? Might it be connected with tensorflow version?

[2020-08-27 01:16] haifeng-jin commented on #959
[code]
This code works for me.

[2020-08-27 01:20] haifeng-jin commented on #1298
I have never seen this error before. We just changed the search space for structured data tasks. You may try again with 1.0.8. Le tme know if it still doesn't work.

[2020-08-27 01:24] haifeng-jin commented on #1294
Yes. I think 1.0.0 is compatible with TF 2.1.0.
AutoKeras is still not stable enough and under active development.
We are still pending on some future features of tensorflow.
So in the near future, we will always based on the latest TensorFlow version.

I think from 1.0.3 on AutoKeras will raise an error if your TensorFlow version is not compatible.

[2020-08-27 01:51] XiaolongHu1993 opened #1315 "How to search skip connection architecture using Auto-Keras"
How to search skip connection architecture using Auto-Keras like https://github.com/carpedm20/ENAS-pytorch? Can anybody offer some help?

[2020-08-27 02:54] haifeng-jin opened #1316 "Task specific tuner for structured data classifier"
### Feature Description

### Code Example

[code]

### Reason

### Solution

[2020-08-27 13:39] #1315 closed

[2020-08-27 20:50] gautambak commented on #1298
Hi Haifeng, Thank you for the reply.  I am using 1.0.8.

[code]

Not sure if it makes a difference but my data is large(800mb uncompressed), has mixed categorical and continuous datapoints, and has quite a few NAN values.

So far, I've encoded the data, scaled it and ran both the structured data regressor as well as the classifier. Both are having the same behaviour.

[2020-08-27 20:59] gautambak commented on #1298
If it helps, this is my code (after I normalize and encode my data):
[code]

At this point is pretty much just hangs. I can see memory usage changing but no output.

[2020-08-28 10:24] CuriousSingularity opened #1318 "filter size as a parameter for convblock"
hi,

May I know why the filter size is not available as a parameter for the convblock? Could we have this feature instead of hardcoded values? Even for the DenseBlock too.

[2020-08-28 15:11] haifeng-jin commented on #1311
For StructuredDataClassifier or Regressor, after you export the model, you should convert your data to np.unicode first before feeding into the exported model.

[2020-08-28 15:12] haifeng-jin commented on #1180
Sorry about this bug. The main problem is that currently `ak.Input()` is not very well supported. We will try to get to this. Not sure how many people is using this input node.

[2020-08-28 16:40] #1307 closed

[2020-08-28 19:44] #1316 closed

[2020-08-28 21:35] gautambak commented on #1298
I thought maybe because my data has many different types of data it would be a issue so I created a dict of column_types for the fit function but no luck.

Also if it helps I'm running this on a GPU and a TPU. Both have the same effect, except GPU seems to crash within few min due to memory crash but TPU just keeps running.